<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMCompanyBranch">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMCompanyBranch','FormName')}}
                </h5>
                <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Branch Id
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.BranchId"
                                            [magic]="mgc.BranchId" mgFormat />
                                        <mgError [magic]=mgc.BranchId> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Branch Code
                                    </label>
                                    <input class="form-control" [formControlName]="mgc.BranchCode"
                                        [magic]="mgc.BranchCode" mgFormat />

                                    <mgError magic={{mgc.BranchCode}}> </mgError>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Pincode
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.Pincode"
                                            [magic]="mgc.Pincode" mgFormat />
                                        <mgError [magic]=mgc.Pincode> </mgError>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Country
                                    </label>
                                    <select class="form-control" [magic]="mgc.CountryId"
                                        [formControlName]="mgc.CountryId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.CountryId);"
                                            [selected]="o.index == mg.getValue(mgc.CountryId)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Bank Name
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.BankName"
                                            [magic]="mgc.BankName" mgFormat />
                                        <mgError [magic]=mgc.BankName> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        PAN No
                                    </label>
                                    <input class="form-control" [formControlName]="mgc.PANno" [magic]="mgc.PANno"
                                        mgFormat />

                                    <mgError magic={{mgc.PANno}}> </mgError>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">

                                    </label>
                                    <div style="margin: 1rem;">
                                        <button type="button" *ngIf="mg.getVisible(mgc.Save)==='visible'"
                                            class="btn btn-primary mr-2" [magic]="mgc.Save">
                                            Save
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Company
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.FullName"
                                            [magic]="mgc.FullName" mgFormat />
                                        <mgError [magic]=mgc.FullName> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Location
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.BranchLocation"
                                            [magic]="mgc.BranchLocation" mgFormat />
                                        <mgError [magic]=mgc.BranchLocation> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Email
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.Email" [magic]="mgc.Email"
                                            mgFormat />
                                        <mgError [magic]=mgc.Email> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        State
                                    </label>
                                    <select class="form-control" [magic]="mgc.StateId" [formControlName]="mgc.StateId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.StateId);"
                                            [selected]="o.index == mg.getValue(mgc.StateId)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Bank Account No
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.AccountNo"
                                            [magic]="mgc.AccountNo" mgFormat />
                                        <mgError [magic]=mgc.AccountNo> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        GSTIN
                                    </label>
                                    <input class="form-control" [formControlName]="mgc.GSTNo" [magic]="mgc.GSTNo"
                                        mgFormat />

                                    <mgError magic={{mgc.GSTNo}}> </mgError>
                                </div>

                            </div>

                            <div class="col-lg-4">
                                <div class="form-group row">
                                    <div class="form-group">
                                        <label class="lable_overflow">
                                            Branch Name
                                        </label>
                                        <div>
                                            <input class="form-control" [formControlName]="mgc.BranchName"
                                                [magic]="mgc.BranchName" mgFormat />
                                            <mgError [magic]=mgc.BranchName> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="Active">
                                            Active
                                        </label>
                                        <div class="checkbox-inline">
                                            <input type="checkbox" style="width:20px;height:38px;" id="Active"
                                                formControlName="{{mgc.Active}}" magic="{{mgc.Active}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Landline/Mobile No.
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.MobileNo"
                                            [magic]="mgc.MobileNo" mgFormat />
                                        <mgError [magic]=mgc.MobileNo> </mgError>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Contact Name
                                    </label>
                                    <input class="form-control" [formControlName]="mgc.ContactName"
                                        [magic]="mgc.ContactName" mgFormat />

                                    <mgError magic={{mgc.ContactName}}> </mgError>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        IFSC Code
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.IFSCcode"
                                            [magic]="mgc.IFSCcode" mgFormat />
                                        <mgError [magic]=mgc.IFSCcode> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        contact Mobile No.
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.ContactMobileNo"
                                            [magic]="mgc.ContactMobileNo" mgFormat />
                                        <mgError [magic]=mgc.ContactMobileNo> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Address
                                    </label>
                                    <div>
                                        <textarea formControlName="{{mgc.Address}}" magic="{{mgc.Address}}"
                                            class="form-control" id="exampleTextarea" rows="3" mgFormat></textarea>

                                        <mgError [magic]=mgc.Address> </mgError>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>