<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Detail">
        <div class="row mt-2">
            <div class="col-lg-12 col-xxl-12">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.New}}">
                        <i class="flaticon-app mr-2"></i>Add New
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="m-tablewrapper pl-0 pr-0">
                <div class="example-container mat-elevation-z8 Table1048577TableContainerProps">
                    <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                        (matSortChange)="tableService.sortData($event)">
                        <ng-container [magic]="mgc.Column1048578" [matColumnDef]="mgc.Column1048578">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Item Code
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.ItemCode" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.ItemCode, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048579" [matColumnDef]="mgc.Column1048579">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Description
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.Description" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.Description, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048580" [matColumnDef]="mgc.Column1048580">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Mcode
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.Mcode" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.Mcode, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048581" [matColumnDef]="mgc.Column1048581">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Company
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CompFullName" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CompFullName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048582" [matColumnDef]="mgc.Column1048582">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                HSN/SAC No.
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.HSNNo" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.HSNNo, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048583" [matColumnDef]="mgc.Column1048583">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Tax Include
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="TaxInclude_{{row.rowId}}"
                                            [formControlName]="mgc.TaxInclude" [magic]="mgc.TaxInclude"
                                            [rowId]="row.rowId" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048584" [matColumnDef]="mgc.Column1048584">
                            <mat-header-cell *matHeaderCellDef>
                                Active
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="Active_{{row.rowId}}" [formControlName]="mgc.Active"
                                            [magic]="mgc.Active" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Active, row.rowId)" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048585" [matColumnDef]="mgc.Column1048585">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Created By
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.FullName" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.FullName, row.rowId)">
                                            {{mg.getValue(mgc.FullName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048586" [matColumnDef]="mgc.Column1048586">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Created Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CreatedDate" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CreatedDate, row.rowId)">
                                            {{mg.getValue(mgc.CreatedDate, row.rowId)
                                            | magicDate : mgc.CreatedDate}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column1048601" [matColumnDef]="mgc.Column1048601">
                            <mat-header-cell *matHeaderCellDef>
                                Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.Edit" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.Edit, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-edit text-success"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.View_Detail" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.View_Detail, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-eye text-warning"></i>
                                    </button>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                            [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                            (click)="row? tableService.selectRow(row.rowId) : null">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                        (page)="tableService.mgOnPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>