<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMCustomerSupplier">
    </div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMCustomerSupplier','FormName')}}
            </h5>
            <button type="button" class="close" magic="{{mgc.Cancel}}">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body mod">
            <div class="card-body">
                <div [magic]="mgc.vTab">
                    <div class="tab_control">
                        <div class="wizard wizard-3 pb-11">
                            <div class="wizard-nav">
                                <div class="wizard-steps px-1 py-1">
                                    <div class="wizard-step" data-wizard-state=""
                                        *ngFor="let o of mg.getItemListValues(mgc.vTab)">
                                        <div class="wizard-label"
                                            (click)="task.mgOnTabSelectionChanged(mgc.vTab, o.index)"
                                            [ngClass]="{'current01' : mg.isTabPageSelected(mgc.vTab, o.index+1 )}">
                                            <h3 class="wizard-title">
                                                <span class="label label-xl label-dottabs mr-2"></span>
                                                {{mg.getTabpageText(mgc.vTab, o.index)}}
                                            </h3>
                                            <div class="wizard-bar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_content mb-5"
                            [style.display]="mg.isTabPageLayerSelected(mgc.vTab, 1) ? 'flex' : 'none' "
                            style="flex-direction: column">

                            <div class="modal-body mod">
                                <div class="row">
                                    <div class="col-lg-12 col-xxl-12">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Name
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.Name"
                                                            [magic]="mgc.Name" mgFormat />
                                                        <mgError [magic]=mgc.Name> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Party Type
                                                    </label>
                                                    <div>
                                                        <select class="form-control" [magic]="mgc.PartyType"
                                                            [formControlName]="mgc.PartyType">
                                                            <option
                                                                *ngFor="let o of mg.getItemListValues(mgc.PartyType);"
                                                                [selected]="o.index == mg.getValue(mgc.PartyType)"
                                                                [value]="o.index">
                                                                {{o.displayValue}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="Active">
                                                        Active
                                                    </label>
                                                    <div class="checkbox-inline">
                                                        <input type="checkbox" style="width:20px;height:38px;"
                                                            id="Active" formControlName="{{mgc.Active}}"
                                                            magic="{{mgc.Active}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Register Type
                                                    </label>
                                                    <div>
                                                        <select class="form-control" [magic]="mgc.RegisterType"
                                                            [formControlName]="mgc.RegisterType">
                                                            <option
                                                                *ngFor="let o of mg.getItemListValues(mgc.RegisterType);"
                                                                [selected]="o.index == mg.getValue(mgc.RegisterType)"
                                                                [value]="o.index">
                                                                {{o.displayValue}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab_content"
                            [style.display]="mg.isTabPageLayerSelected(mgc.vTab, 2) ? 'flex' : 'none' "
                            style="flex-direction: column">

                            <div class="modal-body mod">
                                <div class="row">
                                    <div class="col-lg-12 col-xxl-12">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Address
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.Address"
                                                            [magic]="mgc.Address" mgFormat />
                                                        <mgError [magic]=mgc.Address> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Country
                                                    </label>
                                                    <div>
                                                        <select class="form-control" [magic]="mgc.CountryId"
                                                            [formControlName]="mgc.CountryId">
                                                            <option
                                                                *ngFor="let o of mg.getItemListValues(mgc.CountryId);"
                                                                [selected]="o.index == mg.getValue(mgc.CountryId)"
                                                                [value]="o.index">
                                                                {{o.displayValue}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Contact Name
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.ContactName"
                                                            [magic]="mgc.ContactName" mgFormat />
                                                        <mgError [magic]=mgc.ContactName> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Contact Mobile No
                                                    </label>
                                                    <div>
                                                        <input class="form-control"
                                                            [formControlName]="mgc.ContactMobileNo"
                                                            [magic]="mgc.ContactMobileNo" mgFormat />
                                                        <mgError [magic]=mgc.ContactMobileNo> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Landline/Mobile No
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.MobileNo"
                                                            [magic]="mgc.MobileNo" mgFormat />
                                                        <mgError [magic]=mgc.MobileNo> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        E-mail
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.Email"
                                                            [magic]="mgc.Email" mgFormat />
                                                        <mgError [magic]=mgc.Email> </mgError>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="tab_content"
                            [style.display]="mg.isTabPageLayerSelected(mgc.vTab, 3) ? 'flex' : 'none' "
                            style="flex-direction: column">

                            <div class="modal-body mod">
                                <div class="row">
                                    <div class="col-lg-12 col-xxl-12">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        PAN No.
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.PANno"
                                                            [magic]="mgc.PANno" mgFormat />
                                                        <mgError [magic]=mgc.PANno> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        GSTIN
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.GSTno"
                                                            [magic]="mgc.GSTno" mgFormat />
                                                        <mgError [magic]=mgc.GSTno> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Bank Name
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.BankName"
                                                            [magic]="mgc.BankName" mgFormat />
                                                        <mgError [magic]=mgc.BankName> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        Account No
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.AccountNo"
                                                            [magic]="mgc.AccountNo" mgFormat />
                                                        <mgError [magic]=mgc.AccountNo> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="lable_overflow">
                                                        IFSC Code
                                                    </label>
                                                    <div>
                                                        <input class="form-control" [formControlName]="mgc.IFSCcode"
                                                            [magic]="mgc.IFSCcode" mgFormat />
                                                        <mgError [magic]=mgc.IFSCcode> </mgError>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 1rem;">
                            <button type="button" *ngIf="mg.getVisible(mgc.Save)==='visible'"
                                class="btn btn-primary mr-2" [magic]="mgc.Save">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>