<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMUnitMaster">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMUnitMaster','FormName')}}</h5>
                <!-- <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
                <button [magic]="mgc.BtnCancel" class="close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.UnitIdLbl" class="lable_overflow">
                                        Unit Id
                                    </label>                                    
                                    <div>
                                        <input [formControlName]="mgc.UnitIdEdit" [magic]="mgc.UnitIdEdit" mgFormat />
                                        <mgError [magic]=mgc.UnitIdEdit> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.UnitNameLbl" class="lable_overflow">
                                        Unit Name
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.UnitCodeEdit" [magic]="mgc.UnitCodeEdit" mgFormat />
                                        <mgError [magic]=mgc.UnitCodeEdit> </mgError>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.StatusLbl" class="lable_overflow">
                                        Status
                                    </label>
                                    <div>
                                        <input type="checkbox" id="ActiveCheckBox" [formControlName]="mgc.ActiveCheckBox"
                                            [magic]="mgc.ActiveCheckBox" />
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 0;">
                            <button [magic]="mgc.BtnSave" *ngIf="mg.getVisible(mgc.BtnSave)==='visible'"
                                [title]="mg.getTitle(mgc.BtnSave)" class="btn btn-primary mr-2">
                                Save
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 
<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMUnitMaster">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.HeaderLbl" class="lable_overflow">
                {{mg.getText(mgc.HeaderLbl)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.UnitIdLbl" class="lable_overflow">
                Unit Id
            </label>
            <label [magic]="mgc.UnitIdEdit">
                {{mg.getValue(mgc.UnitIdEdit) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.UnitNameLbl" class="lable_overflow">
                Unit Name
            </label>
            <div>
                <input [formControlName]="mgc.UnitCodeEdit" [magic]="mgc.UnitCodeEdit" mgFormat />
                <mgError [magic]=mgc.UnitCodeEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.StatusLbl" class="lable_overflow">
                Status
            </label>
            <div>
                <input type="checkbox" id="ActiveCheckBox" [formControlName]="mgc.ActiveCheckBox"
                    [magic]="mgc.ActiveCheckBox" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.BtnSave" [style.visibility]="mg.getVisible(mgc.BtnSave)"
                [title]="mg.getTitle(mgc.BtnSave)">
                &amp;Save
            </button>
            <button [magic]="mgc.BtnCancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->