<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Detail">
        <div class="row mt-2">
            <div class="col-lg-12 col-xxl-12">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.New}}">
                        <i class="flaticon-app mr-2"></i>Add New
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="m-tablewrapper pl-0 pr-0">
                <div class="example-container mat-elevation-z8 Table1048577TableContainerProps">
                    <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                        (matSortChange)="tableService.sortData($event)">
                        <ng-container [magic]="mgc.Column2097156" [matColumnDef]="mgc.Column2097156">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Branch Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.BranchName" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.BranchName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column2097157" [matColumnDef]="mgc.Column2097157">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Location
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.BranchLocation" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.BranchLocation, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column2097158" [matColumnDef]="mgc.Column2097158">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                GST No
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.GSTNo" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.GSTNo, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column2097159" [matColumnDef]="mgc.Column2097159">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Address
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.Address" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.Address, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column2097160" [matColumnDef]="mgc.Column2097160">
                            <mat-header-cell *matHeaderCellDef>
                                Active
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="Active_{{row.rowId}}" [formControlName]="mgc.Active"
                                            [magic]="mgc.Active" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Active, row.rowId)" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                     
                        <ng-container [magic]="mgc.Column15" [matColumnDef]="mgc.Column15">
                            <mat-header-cell *matHeaderCellDef>
                                Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.Edit" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.Edit, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-edit text-success"></i>
                                    </button>
                                </div>
                               
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                            [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                            (click)="row? tableService.selectRow(row.rowId) : null">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                        (page)="tableService.mgOnPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>



    </div>
</div>

<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.Detail"
    >
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table2097155TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column2097156"
                        [matColumnDef]="mgc.Column2097156"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Branch Name
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.BranchName"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.BranchName, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097157"
                        [matColumnDef]="mgc.Column2097157"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Location
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.BranchLocation"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.BranchLocation"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.BranchLocation
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.BranchLocation"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.BranchLocation, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097158"
                        [matColumnDef]="mgc.Column2097158"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            GST No
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.GSTNo"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.GSTNo, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097159"
                        [matColumnDef]="mgc.Column2097159"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Address
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.Address"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Address, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097160"
                        [matColumnDef]="mgc.Column2097160"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Active
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <input
                                        type="checkbox"
                                        id="Active_{{row.rowId}}"
                                        [formControlName]="mgc.Active"
                                        [magic]="mgc.Active"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Active, row.rowId)"
                                    />
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097161"
                        [matColumnDef]="mgc.Column2097161"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Created By
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.FullName"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.FullName, row.rowId)"
                                    >
                                        {{mg.getValue(mgc.FullName, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097162"
                        [matColumnDef]="mgc.Column2097162"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Created Date
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.CreatedDate"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.CreatedDate, row.rowId)"
                                    >
                                        {{mg.getValue(mgc.CreatedDate, row.rowId)
| magicDate : mgc.CreatedDate}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.F5"
                class="lable_overflow"
            >
                F5
            </label>
            <label [magic]="mgc.gNote">
                {{mg.getValue(mgc.gNote) }}
            </label>
            <button [magic]="mgc.New">
                &amp;New
            </button>
            <button
                [magic]="mgc.View_Detail"
                [title]="mg.getTitle(mgc.View_Detail)"
            >
                &amp;View
            </button>
            <button [magic]="mgc.Edit">
                &amp;Edit
            </button>
            <button [magic]="mgc.Help">
                &amp;Help
            </button>
            <button [magic]="mgc.Close">
                &amp;Close
            </button>
        </div>
    </div>
</div> -->