<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMHSNMaster">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMHSNMaster','FormName')}}</h5>
                <!-- <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->                
                <button [magic]="mgc.BtnCancel" class="close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.SelectTypeLbl" class="lable_overflow">
                                        Select Type
                                    </label>
                                    <div>
                                        <select [magic]="mgc.HSN_SAC_Type_Combo"
                                            [formControlName]="mgc.HSN_SAC_Type_Combo">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.HSN_SAC_Type_Combo);"
                                                [selected]="o.index == mg.getValue(mgc.HSN_SAC_Type_Combo)"
                                                [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.HSN_SAC_NoLbl" class="lable_overflow">
                                        HSN/SAC No.
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.HSN_SAC_CodeEdit" [magic]="mgc.HSN_SAC_CodeEdit"
                                            mgFormat />
                                        <mgError [magic]=mgc.HSN_SAC_CodeEdit> </mgError>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.CGSTLbl" class="lable_overflow">
                                        CGST
                                    </label>
                                    <div>
                                        <select [magic]="mgc.PCGSTIdCombo" [formControlName]="mgc.PCGSTIdCombo">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.PCGSTIdCombo);"
                                                [selected]="o.index == mg.getValue(mgc.PCGSTIdCombo)" [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.SGSTLbl" class="lable_overflow">
                                        SGST
                                    </label>
                                    <div>
                                        <select [magic]="mgc.PSGSTIdCombo" [formControlName]="mgc.PSGSTIdCombo">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.PSGSTIdCombo);"
                                                [selected]="o.index == mg.getValue(mgc.PSGSTIdCombo)" [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.IGSTLbl" class="lable_overflow">
                                        IGST
                                    </label>
                                    <div>
                                        <select [magic]="mgc.PIGSTIdCombo" [formControlName]="mgc.PIGSTIdCombo">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.PIGSTIdCombo);"
                                                [selected]="o.index == mg.getValue(mgc.PIGSTIdCombo)" [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.CESSLbl" class="lable_overflow">
                                        CESS
                                    </label>
                                    <div>
                                        <select [magic]="mgc.CESSIdCombo" [formControlName]="mgc.CESSIdCombo">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.CESSIdCombo);"
                                                [selected]="o.index == mg.getValue(mgc.CESSIdCombo)" [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.HSN_SAC_DescriptionLbl" class="lable_overflow">
                                        HSN/SAC Description
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.HSNDisciptionTextArea"
                                            [magic]="mgc.HSNDisciptionTextArea" mgFormat />
                                        <mgError [magic]=mgc.HSNDisciptionTextArea> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.ActiveLbl" class="lable_overflow"
                                        [attr.disabled]="mg.isDisabled(mgc.ActiveLbl )">
                                        Active
                                    </label>
                                    <div>
                                        <input type="checkbox" id="ActiveCheckBox"
                                            [formControlName]="mgc.ActiveCheckBox" [magic]="mgc.ActiveCheckBox" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 0;">
                            <button [magic]="mgc.BtnSave" *ngIf="mg.getVisible(mgc.BtnSave)==='visible'"
                                [title]="mg.getTitle(mgc.BtnSave)" class="btn btn-primary mr-2">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMHSNMaster">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.HeaderLbl" class="lable_overflow">
                {{mg.getText(mgc.HeaderLbl)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.SelectTypeLbl" class="lable_overflow">
                Select Type
            </label>
            <div>
                <select [magic]="mgc.HSN_SAC_Type_Combo" [formControlName]="mgc.HSN_SAC_Type_Combo">
                    <option *ngFor="let o of mg.getItemListValues(mgc.HSN_SAC_Type_Combo);"
                        [selected]="o.index == mg.getValue(mgc.HSN_SAC_Type_Combo)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.HSN_SAC_NoLbl" class="lable_overflow">
                HSN/SAC No.
            </label>
            <div>
                <input [formControlName]="mgc.HSN_SAC_CodeEdit" [magic]="mgc.HSN_SAC_CodeEdit" mgFormat />
                <mgError [magic]=mgc.HSN_SAC_CodeEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.CGSTLbl" class="lable_overflow">
                CGST
            </label>
            <div>
                <select [magic]="mgc.PCGSTIdCombo" [formControlName]="mgc.PCGSTIdCombo">
                    <option *ngFor="let o of mg.getItemListValues(mgc.PCGSTIdCombo);"
                        [selected]="o.index == mg.getValue(mgc.PCGSTIdCombo)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.SGSTLbl" class="lable_overflow">
                SGST
            </label>
            <div>
                <select [magic]="mgc.PSGSTIdCombo" [formControlName]="mgc.PSGSTIdCombo">
                    <option *ngFor="let o of mg.getItemListValues(mgc.PSGSTIdCombo);"
                        [selected]="o.index == mg.getValue(mgc.PSGSTIdCombo)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.IGSTLbl" class="lable_overflow">
                IGST
            </label>
            <div>
                <select [magic]="mgc.PIGSTIdCombo" [formControlName]="mgc.PIGSTIdCombo">
                    <option *ngFor="let o of mg.getItemListValues(mgc.PIGSTIdCombo);"
                        [selected]="o.index == mg.getValue(mgc.PIGSTIdCombo)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.CESSLbl" class="lable_overflow">
                CESS
            </label>
            <div>
                <select [magic]="mgc.CESSIdCombo" [formControlName]="mgc.CESSIdCombo">
                    <option *ngFor="let o of mg.getItemListValues(mgc.CESSIdCombo);"
                        [selected]="o.index == mg.getValue(mgc.CESSIdCombo)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.HSN_SAC_DescriptionLbl" class="lable_overflow">
                HSN/SAC Description
            </label>
            <div>
                <input [formControlName]="mgc.HSNDisciptionTextArea" [magic]="mgc.HSNDisciptionTextArea" mgFormat />
                <mgError [magic]=mgc.HSNDisciptionTextArea> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.ActiveLbl" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.ActiveLbl )">
                Active
            </label>
            <div>
                <input type="checkbox" id="ActiveCheckBox" [formControlName]="mgc.ActiveCheckBox"
                    [magic]="mgc.ActiveCheckBox" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.BtnSave" [style.visibility]="mg.getVisible(mgc.BtnSave)"
                [title]="mg.getTitle(mgc.BtnSave)">
                &amp;Save
            </button>
            <button [magic]="mgc.BtnCancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->