<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed page-loading">

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root" style="height: 100%;" novalidate [formGroup]="screenFormGroup">
        <div class="login login-3 d-flex flex-row-fluid login-signin-on" id="kt_login" [magic]="mgc.Login">
            <div class="d-flex flex-column flex-lg-row flex-row-fluid text-center bgi-size-contain bgi-no-repeat bgi-position-y-bottom bgi-position-x-right"
                style="background-image: url(assets/media/bg/bg-2.jpg);background-color: white;">

                <div class="d-flex w-100 flex-center p-2 position-relative overflow-hidden">
                    <div class="login-wrapper">
                        <div
                            class="login-form text-center text-white p-10 position-relative overflow-hidden bg-dark-o-60 rounded-lg01">
                            <!--begin::Login Header-->
                            <div class="d-flex flex-center mb-5 mt-5 mr-10 ml-10">
                                <a href="#">
                                    <img src="assets/media/logos/magic-logo-white.png" class="max-h-70px" alt="">
                                </a>
                            </div>
                            <!--end::Login Header-->
                            <!--begin::Login Sign in form-->
                            <div class="login-signin">
                                <div class="mb-10 test001">
                                    <p class="opacity-60 font-weight-bold">Enter your details to login:</p>
                                </div>
                                <div class="form-group fv-plugins-icon-container">
                                    <input
                                        class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 border-1 py-4 px-8 mb-5 login-name01"
                                        placeholder="Name" formControlName="{{mgc.vUserName}}" magic="{{mgc.vUserName}}"
                                        mgFormat />
                                </div>
                                <div class="form-group fv-plugins-icon-container">
                                    <input
                                        class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 border-1 py-4 px-8 mb-5 login-pass01"
                                        placeholder="Password" formControlName="{{mgc.vPassword}}"
                                        magic="{{mgc.vPassword}}" [attr.required]="" type="password" mgFormat />
                                </div>
                                <div class="fv-plugins-message-container" *ngIf="mg.getVisible(mgc.Label1048585)==='visible'" >
                                    <label>
                                        {{mg.getText(mgc.Label1048585)}}
                                    </label>
                                </div>
                                <div class="form-group text-center mt-10">
                                    <button type="button"
                                        class="btn btn-signin btn-sh btn-outline-white btn-block font-weight-bold opacity-90 px-15 py-3"
                                        magic="{{mgc.btnLogin}}">
                                        Sign in
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 flex-center p-25 position-relative overflow-hidden">
                    <div class="login-wrapper"></div>
                </div>
                <!-- <div style="display: flex; flex-direction: row">
                    <button type="button" [magic]="mgc.vCrreateUser"
                        [style.visibility]="mg.getVisible(mgc.vCrreateUser)" class="button_image_background_size"
                        [ngStyle]="{'background-image': mg.getStyle(mgc.vCrreateUser, magicProperties.ImageFile)}">
                        Sign &amp;up
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</body>