<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMItemMaster">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048580" class="lable_overflow">
                Item Code
            </label>
            <label [magic]="mgc.ItemCode">
                {{mg.getValue(mgc.ItemCode) }}
            </label>
            <div>
                <div>
                    <input type="checkbox" [formControlName]="mgc.IsService" [magic]="mgc.IsService" id="IsService" />
                    <label for="IsService">
                        Service Item
                    </label>
                </div>
            </div>
            <label [magic]="mgc.Label1048579" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048579 )">
                Status
            </label>
            <div>
                <input type="checkbox" id="Active" [formControlName]="mgc.Active" [magic]="mgc.Active" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048582" class="lable_overflow">
                Description
            </label>
            <div>
                <input [formControlName]="mgc.Description" [magic]="mgc.Description" mgFormat />
                <mgError [magic]=mgc.Description> </mgError>
            </div>
            <label [magic]="mgc.Label1048596" class="lable_overflow">
                HSN / SAC No.
            </label>
            <div>
                <input [formControlName]="mgc.vHSNCode" [magic]="mgc.vHSNCode" mgFormat />
                <mgError [magic]=mgc.vHSNCode> </mgError>
            </div>
            <button [magic]="mgc.btnHSN">
                ...
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048599" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048599 )">
                Select Type
            </label>
            <div>
                <select [magic]="mgc.vHSNType" [formControlName]="mgc.vHSNType">
                    <option *ngFor="let o of mg.getItemListValues(mgc.vHSNType);"
                        [selected]="o.index == mg.getValue(mgc.vHSNType)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048584" class="lable_overflow">
                Mcode
            </label>
            <div>
                <input [formControlName]="mgc.Name" [magic]="mgc.Name" mgFormat />
                <mgError [magic]=mgc.Name> </mgError>
            </div>
            <label [magic]="mgc.Label1048600" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048600 )">
                CGST %
            </label>
            <div>
                <select [magic]="mgc.vCGSTId" [formControlName]="mgc.vCGSTId">
                    <option *ngFor="let o of mg.getItemListValues(mgc.vCGSTId);"
                        [selected]="o.index == mg.getValue(mgc.vCGSTId)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048586" class="lable_overflow">
                Unit
            </label>
            <div>
                <select [magic]="mgc.Combo_Box" [formControlName]="mgc.Combo_Box">
                    <option *ngFor="let o of mg.getItemListValues(mgc.Combo_Box);"
                        [selected]="o.index == mg.getValue(mgc.Combo_Box)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label [magic]="mgc.Label1048601" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048601 )">
                SGST %
            </label>
            <div>
                <select [magic]="mgc.vSGSTId" [formControlName]="mgc.vSGSTId">
                    <option *ngFor="let o of mg.getItemListValues(mgc.vSGSTId);"
                        [selected]="o.index == mg.getValue(mgc.vSGSTId)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048587" class="lable_overflow">
                Purchase Rate
            </label>
            <div>
                <input [formControlName]="mgc.PurchaseRate" type='number' [magic]="mgc.PurchaseRate" mgFormat />
                <mgError [magic]=mgc.PurchaseRate> </mgError>
            </div>
            <label [magic]="mgc.Label1048602" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048602 )">
                IGST %
            </label>
            <div>
                <select [magic]="mgc.vIGSTId" [formControlName]="mgc.vIGSTId">
                    <option *ngFor="let o of mg.getItemListValues(mgc.vIGSTId);"
                        [selected]="o.index == mg.getValue(mgc.vIGSTId)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048589" class="lable_overflow">
                Sale Rate
            </label>
            <div>
                <input [formControlName]="mgc.SaleRate" type='number' [magic]="mgc.SaleRate" mgFormat />
                <mgError [magic]=mgc.SaleRate> </mgError>
            </div>
            <label [magic]="mgc.Label1048603" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048603 )">
                CESS %
            </label>
            <div>
                <select [magic]="mgc.vCESSId" [formControlName]="mgc.vCESSId">
                    <option *ngFor="let o of mg.getItemListValues(mgc.vCESSId);"
                        [selected]="o.index == mg.getValue(mgc.vCESSId)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048591" class="lable_overflow">
                MRP Applicable
            </label>
            <div>
                <input type="checkbox" id="TaxInclude" [formControlName]="mgc.TaxInclude" [magic]="mgc.TaxInclude" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.Save" [style.visibility]="mg.getVisible(mgc.Save)" [title]="mg.getTitle(mgc.Save)">
                &amp;Save
            </button>
            <button [magic]="mgc.Cancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div>