<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMItemMaster">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048580" class="lable_overflow">
                Item Code
            </label>
            <label [magic]="mgc.ItemCode">
                {{mg.getValue(mgc.ItemCode) }}
            </label>
            <div>
                <div>
                    <input type="checkbox" [formControlName]="mgc.IsService" [magic]="mgc.IsService" id="IsService" />
                    <label for="IsService">
                        Service Item
                    </label>
                </div>
            </div>
            <label [magic]="mgc.Label1048579" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.Label1048579 )">
                Status
            </label>
            <div>
                <input type="checkbox" id="Active" [formControlName]="mgc.Active" [magic]="mgc.Active" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048582" class="lable_overflow">
                Description
            </label>
            <div>
                <input [formControlName]="mgc.Description" [magic]="mgc.Description" mgFormat />
                <mgError [magic]=mgc.Description> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048584" class="lable_overflow">
                Mcode
            </label>
            <div>
                <input [formControlName]="mgc.Name" [magic]="mgc.Name" mgFormat />
                <mgError [magic]=mgc.Name> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048586" class="lable_overflow">
                Unit
            </label>
            <div>
                <select [magic]="mgc.Combo_Box" [formControlName]="mgc.Combo_Box">
                    <option *ngFor="let o of mg.getItemListValues(mgc.Combo_Box);"
                        [selected]="o.index == mg.getValue(mgc.Combo_Box)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048587" class="lable_overflow">
                Purchase Rate
            </label>
            <div>
                <input [formControlName]="mgc.PurchaseRate" type='number' [magic]="mgc.PurchaseRate" mgFormat />
                <mgError [magic]=mgc.PurchaseRate> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048589" class="lable_overflow">
                Sale Rate
            </label>
            <div>
                <input [formControlName]="mgc.SaleRate" type='number' [magic]="mgc.SaleRate" mgFormat />
                <mgError [magic]=mgc.SaleRate> </mgError>
            </div>
            <div [magic]="mgc.Group1048595" class="container_border" style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label1048596" class="lable_overflow">
                        HSN / SAC No.
                    </label>
                    <label [magic]="mgc.Name0" class="lable_overflow">
                        F5
                    </label>
                    <div>
                        <input [formControlName]="mgc.vHSNCode" [magic]="mgc.vHSNCode" mgFormat />
                        <mgError [magic]=mgc.vHSNCode> </mgError>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label1048599" class="lable_overflow"
                        [attr.disabled]="mg.isDisabled(mgc.Label1048599 )">
                        Select Type
                    </label>
                    <div>
                        <select [magic]="mgc.vHSNType" [formControlName]="mgc.vHSNType">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vHSNType);"
                                [selected]="o.index == mg.getValue(mgc.vHSNType)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label1048600" class="lable_overflow"
                        [attr.disabled]="mg.isDisabled(mgc.Label1048600 )">
                        CGST %
                    </label>
                    <div>
                        <select [magic]="mgc.vCGSTId" [formControlName]="mgc.vCGSTId">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vCGSTId);"
                                [selected]="o.index == mg.getValue(mgc.vCGSTId)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label1048601" class="lable_overflow"
                        [attr.disabled]="mg.isDisabled(mgc.Label1048601 )">
                        SGST %
                    </label>
                    <div>
                        <select [magic]="mgc.vSGSTId" [formControlName]="mgc.vSGSTId">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vSGSTId);"
                                [selected]="o.index == mg.getValue(mgc.vSGSTId)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label1048602" class="lable_overflow"
                        [attr.disabled]="mg.isDisabled(mgc.Label1048602 )">
                        IGST %
                    </label>
                    <div>
                        <select [magic]="mgc.vIGSTId" [formControlName]="mgc.vIGSTId">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vIGSTId);"
                                [selected]="o.index == mg.getValue(mgc.vIGSTId)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label1048603" class="lable_overflow"
                        [attr.disabled]="mg.isDisabled(mgc.Label1048603 )">
                        CESS %
                    </label>
                    <div>
                        <select [magic]="mgc.vCESSId" [formControlName]="mgc.vCESSId">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vCESSId);"
                                [selected]="o.index == mg.getValue(mgc.vCESSId)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1048591" class="lable_overflow">
                MRP Applicable
            </label>
            <div>
                <input type="checkbox" id="TaxInclude" [formControlName]="mgc.TaxInclude" [magic]="mgc.TaxInclude" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.Save" [style.visibility]="mg.getVisible(mgc.Save)" [title]="mg.getTitle(mgc.Save)">
                &amp;Save
            </button>
            <button [magic]="mgc.Cancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->
<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMItemMaster">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMItemMaster','FormName')}}</h5>
                <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Item Code
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.ItemCode"
                                            [magic]="mgc.ItemCode" mgFormat />
                                        <mgError [magic]=mgc.ItemCode> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Description
                                    </label>
                                    <textarea formControlName="{{mgc.Description}}" magic="{{mgc.Description}}"
                                        class="form-control" id="exampleTextarea" rows="3" mgFormat></textarea>
                                    <mgError magic={{mgc.Description}}> </mgError>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Mcode
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.Name" [magic]="mgc.Name"
                                            mgFormat />
                                        <mgError [magic]=mgc.Name> </mgError>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Unit
                                    </label>
                                    <select class="form-control" [magic]="mgc.Combo_Box"
                                        [formControlName]="mgc.Combo_Box">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.Combo_Box);"
                                            [selected]="o.index == mg.getValue(mgc.Combo_Box)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Purchase Rate
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.PurchaseRate"
                                            [magic]="mgc.PurchaseRate" mgFormat />
                                        <mgError [magic]=mgc.PurchaseRate> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        Sales Rate
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.SaleRate"
                                            [magic]="mgc.SaleRate" mgFormat />
                                        <mgError [magic]=mgc.SaleRate> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="IsBillable">
                                        MRP Applicable
                                    </label>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" style="width:20px;height:38px;" id="TaxInclude"
                                            formControlName="{{mgc.TaxInclude}}" magic="{{mgc.TaxInclude}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label for="IsService">
                                            Service
                                        </label>
                                        <div class="checkbox-inline">
                                            <input type="checkbox" style="width:20px;height:38px;" id="IsService"
                                                formControlName="{{mgc.IsService}}" magic="{{mgc.IsService}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="Active">
                                            Status
                                        </label>
                                        <div class="checkbox-inline">
                                            <input type="checkbox" style="width:20px;height:38px;" id="Active"
                                                formControlName="{{mgc.Active}}" magic="{{mgc.Active}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        HSN/SAC Code
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" [formControlName]="mgc.vHSNCode"
                                            [magic]="mgc.vHSNCode" mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                magic="{{mgc.btnHSN}}">
                                                <span class="svg-icon svg-icon-lg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        HSN Type
                                    </label>
                                    <select class="form-control" [magic]="mgc.vHSNType"
                                        [formControlName]="mgc.vHSNType">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.vHSNType);"
                                            [selected]="o.index == mg.getValue(mgc.vHSNType)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        CGST %
                                    </label>
                                    <select class="form-control" [magic]="mgc.vCGSTId" [formControlName]="mgc.vCGSTId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.vCGSTId);"
                                            [selected]="o.index == mg.getValue(mgc.vCGSTId)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        SGST %
                                    </label>
                                    <select class="form-control" [magic]="mgc.vSGSTId" [formControlName]="mgc.vSGSTId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.vSGSTId);"
                                            [selected]="o.index == mg.getValue(mgc.vSGSTId)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        IGST %
                                    </label>
                                    <select class="form-control" [magic]="mgc.vIGSTId" [formControlName]="mgc.vIGSTId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.vIGSTId);"
                                            [selected]="o.index == mg.getValue(mgc.vIGSTId)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                        CESS %
                                    </label>
                                    <select class="form-control" [magic]="mgc.vCESSId" [formControlName]="mgc.vCESSId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.vCESSId);"
                                            [selected]="o.index == mg.getValue(mgc.vCESSId)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="margin: 1rem;">
                                <button type="button" *ngIf="mg.getVisible(mgc.Save)==='visible'"
                                    class="btn btn-primary mr-2" [magic]="mgc.Save">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>