<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CTaxType">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CTaxType','FormName')}}</h5>
                <!-- <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
                <button [magic]="mgc.BtnCancel" class="close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.TaxTypeLbl" class="lable_overflow">
                                        Tax Type
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.TaxTypeEdit" [magic]="mgc.TaxTypeEdit" mgFormat />
                                        <mgError [magic]=mgc.TaxTypeEdit> </mgError>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 0;">
                            <button [magic]="mgc.BtnSave" *ngIf="mg.getVisible(mgc.BtnSave)==='visible'"
                                [title]="mg.getTitle(mgc.BtnSave)" class="btn btn-primary mr-2">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- 
<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CTaxType">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.TaxTypeLbl" class="lable_overflow">
                Tax Type
            </label>
            <div>
                <input [formControlName]="mgc.TaxTypeEdit" [magic]="mgc.TaxTypeEdit" mgFormat />
                <mgError [magic]=mgc.TaxTypeEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.BtnSave" [title]="mg.getTitle(mgc.BtnSave)">
                &amp;Save
            </button>
            <button [magic]="mgc.BtnCancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->