<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Home">
        <div style="display: flex; flex-direction: row">
            <a href="javascript:;" [magic]="mgc.Profile">
                Profile
            </a>
            <button [magic]="mgc.Logout" [style.visibility]="mg.getVisible(mgc.Logout)"
                [title]="mg.getTitle(mgc.Logout)">
                Logout
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <router-outlet [magic]="mgc.MainCanvas">
            </router-outlet>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <!--begin::Main-->
    <div magic="{{mgc.Home}}">    </div>

        <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed page-loading">
            <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
                <h6 class="text-light font-weight-light mt-2 mb-2 mr-5">Hi, {{mg.getCustomProperty('Home','User')}}</h6>
                <!--begin::Toolbar-->
                <div class="d-flex align-items-center">
                    <!--begin::Aside Mobile Toggle-->
                    <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                        <span></span>
                    </button>
                    <!--end::Aside Mobile Toggle-->

                    <!--begin::Topbar Mobile Toggle-->
                    <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                        <span class="svg-icon svg-icon-xl">

                            <!-- <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="509.8px" height="509.8px" viewBox="0 0 509.8 509.8" enable-background="new 0 0 509.8 509.8"
                                xml:space="preserve">
                                <rect x="313.2" y="314.2" fill="#C5363A" width="178.6" height="136" />
                                <polygon fill="#F5EC2F" points="266.4,268.6 491.8,268.6 491.8,26.4 21.3,26.4 21.3,496.9 266.4,496.9 " />
                            </svg> -->
                            <img alt="Logo" src="assets/images/Logo.png" class="max-h-30px m-2"/>
                        </span>
                    </button>
                    <!--end::Topbar Mobile Toggle-->
                </div>
                <!--end::Toolbar-->
            </div>

            <!--begin::Page-->
            <div class="d-flex flex-column flex-root">
                <div class="d-flex flex-row flex-column-fluid page">

                    <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">

                        <!--begin::Brand-->
                        <div class="user-header">
                            <div class="brand flex-column-auto user-header" id="kt_brand">
                                <a href="user-profile.html" target="_blank" class="brand-logo">
                                    <h6 class="text-light font-weight-light mt-2 mb-2 mr-5">Hi, {{mg.getCustomProperty('Home','User')}}</h6>
                                </a>

                                <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                                    <span class="svg-icon svg-icon svg-icon-xl">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                                            version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z"
                                                    fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)"
                                                />
                                                <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z"
                                                    fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)"
                                                />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </button>
                                <!--end::Toolbar-->
                            </div>
                        </div>
                        <!--end::Brand-->

                        <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                            <div id="kt_aside_menu" class="aside-menu my-0" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
                                <div style="border: none; border-color: rgb(61, 47, 255);">
                                    <Menu class="menu589" [source]="mg.getCustomProperty('Home','Menu')"></Menu>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                        <div id="kt_header" class="header header-fixed" style="border: none; border-color: greenyellow;">
                            <!--begin::Container-->
                            <div class="container-fluid d-flex align-items-stretch justify-content-between title-header">

                                <div class="d-flex align-items-center flex-wrap mr-2">
                                    <!--begin::Page Title-->
                                    <h1 class="title-text mt-5 mb-5 mr-5"> {{mg.getCustomProperty('Home','AppName')}} </h1>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="topbar">
                                        <!--begin::Logo-->
                                        <!-- <a href="javascript:;" [magic]="mgc.Profile" class="brand-logo">
                                            <img style="border-radius: 50%;" alt="Logo" src="" class="max-h-40px m-2"
                                            />
                                        </a> -->
                                    </div>
                                    <button type="button" class="btn btn-sm" [magic]="mgc.Logout" [title]="mg.getTitle(mgc.Logout)">
                                        <span class="svg-icon svg-icon-danger svg-icon-3x">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect opacity="0.300000012" x="0" y="0" width="24" height="24" />
                                                    <polygon fill="#000000" fill-rule="nonzero" opacity="0.3" points="7 4.89473684 7 21 5 21 5 3 11 3 11 4.89473684" />
                                                    <path d="M10.1782982,2.24743315 L18.1782982,3.6970464 C18.6540619,3.78325557 19,4.19751166 19,4.68102291 L19,19.3190064 C19,19.8025177 18.6540619,20.2167738 18.1782982,20.3029829 L10.1782982,21.7525962 C9.63486295,21.8510675 9.11449486,21.4903531 9.0160235,20.9469179 C9.00536265,20.8880837 9,20.8284119 9,20.7686197 L9,3.23140966 C9,2.67912491 9.44771525,2.23140966 10,2.23140966 C10.0597922,2.23140966 10.119464,2.2367723 10.1782982,2.24743315 Z M11.9166667,12.9060229 C12.6070226,12.9060229 13.1666667,12.2975724 13.1666667,11.5470105 C13.1666667,10.7964487 12.6070226,10.1879981 11.9166667,10.1879981 C11.2263107,10.1879981 10.6666667,10.7964487 10.6666667,11.5470105 C10.6666667,12.2975724 11.2263107,12.9060229 11.9166667,12.9060229 Z"
                                                        fill="#000000" />
                                                </g>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <!--end::Container-->
                        </div>

                        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                            <div id="Main" class="" style="border: none; border-color: rgb(255, 113, 47);">
                                <router-outlet magic="{{mgc.MainCanvas}}" class="MainOutletProps">
                                </router-outlet>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </body>

</div>