<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMTaxMaster">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMTaxMaster','FormName')}}</h5>
                <!-- <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
                <button [magic]="mgc.BtnCancel" class="close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.TaxIdLbl" class="lable_overflow">
                                        Tax Id
                                    </label>
                                    <label [magic]="mgc.TaxIdEdit">
                                        {{mg.getValue(mgc.TaxIdEdit) }}
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.TaxTypeLbl" class="lable_overflow">
                                        Tax Type
                                    </label>
                                    <div>
                                        <select [magic]="mgc.TaxTypeCombo" [formControlName]="mgc.TaxTypeCombo">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.TaxTypeCombo);"
                                                [selected]="o.index == mg.getValue(mgc.TaxTypeCombo)" [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.TaxPercentageLbl" class="lable_overflow">
                                        Tax %
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.PurchaseRateEdit" type='number'
                                            [magic]="mgc.PurchaseRateEdit" mgFormat />
                                        <mgError [magic]=mgc.PurchaseRateEdit> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.DescriptionLbl" class="lable_overflow">
                                        Description
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.DescriptionEdit" [magic]="mgc.DescriptionEdit"
                                            mgFormat />
                                        <mgError [magic]=mgc.DescriptionEdit> </mgError>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.StatusLbl" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.StatusLbl )">
                                        Status
                                    </label>
                                    <div>
                                        <input type="checkbox" id="StatusActiveCheckBox" [formControlName]="mgc.StatusActiveCheckBox"
                                            [magic]="mgc.StatusActiveCheckBox" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 0;">
                            <button [magic]="mgc.BtnSave" *ngIf="mg.getVisible(mgc.BtnSave)==='visible'"
                                [title]="mg.getTitle(mgc.BtnSave)" class="btn btn-primary mr-2">
                                Save
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 
<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMTaxMaster">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.HeaderLbl" class="lable_overflow">
                {{mg.getText(mgc.HeaderLbl)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.TaxIdLbl" class="lable_overflow">
                Tax Id
            </label>
            <label [magic]="mgc.TaxIdEdit">
                {{mg.getValue(mgc.TaxIdEdit) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.TaxTypeLbl" class="lable_overflow">
                Tax Type
            </label>
            <div>
                <select [magic]="mgc.TaxTypeCombo" [formControlName]="mgc.TaxTypeCombo">
                    <option *ngFor="let o of mg.getItemListValues(mgc.TaxTypeCombo);"
                        [selected]="o.index == mg.getValue(mgc.TaxTypeCombo)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.TaxPercentageLbl" class="lable_overflow">
                Tax %
            </label>
            <div>
                <input [formControlName]="mgc.PurchaseRateEdit" type='number' [magic]="mgc.PurchaseRateEdit" mgFormat />
                <mgError [magic]=mgc.PurchaseRateEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.DescriptionLbl" class="lable_overflow">
                Description
            </label>
            <div>
                <input [formControlName]="mgc.DescriptionEdit" [magic]="mgc.DescriptionEdit" mgFormat />
                <mgError [magic]=mgc.DescriptionEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.StatusLbl" class="lable_overflow" [attr.disabled]="mg.isDisabled(mgc.StatusLbl )">
                Status
            </label>
            <div>
                <input type="checkbox" id="StatusActiveCheckBox" [formControlName]="mgc.StatusActiveCheckBox"
                    [magic]="mgc.StatusActiveCheckBox" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.BtnSave" [style.visibility]="mg.getVisible(mgc.BtnSave)"
                [title]="mg.getTitle(mgc.BtnSave)">
                &amp;Save
            </button>
            <button [magic]="mgc.BtnCancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->