.detailhdr{
  padding-left: 10px;
  background-color: tomato;
  width: 100%; font-size: large; color: wheat; box-shadow: 0 0 5px rgb(0 0 0 / 80%); margin-bottom: 10px;
}
.btn-tbl{
    padding: 0.5rem 0.2rem;
}
mat-cell:first-child{
    flex: 0 0 10%;
    padding-left: 5px;
}
.mat-header-cell:first-child{
    flex: 0 0 10%;
    padding-left: 5px;
}
/*
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
}
.mat-cell:nth-child(2){
  flex: 0 0 30%;
}
.mat-header-cell:nth-child(3){
  flex: 0 0 12%;
}
.mat-cell:nth-child(3){
  flex: 0 0 12%;
}
.mat-header-cell:nth-child(4){
  flex: 0 0 12%;
}
.mat-cell:nth-child(4){
  flex: 0 0 12%;
}
 .mat-header-cell:nth-child(5){
  flex: 0 0 6%;
  justify-content: center;
}
.mat-cell:nth-child(5){
  flex: 0 0 6%;
  justify-content: center;
}
.mat-header-cell:nth-child(6){
  flex: 0 0 10%;
}
.mat-cell:nth-child(6){
  flex: 0 0 10%;
}
.mat-header-cell:nth-child(8){
    flex: 0 0 8%;
}
.mat-cell:nth-child(8){
    flex: 0 0 8%;
} */
.mat-header-cell:nth-child(17){
  flex: 0 0 6%;
}
.mat-cell:nth-child(17){
  flex: 0 0 6%;
}
.mat-header-cell:last-of-type{
  padding-right: 0;
}
.mat-cell:last-of-type{
  padding-right: 0;
}


@media (max-width: 775.98px) 
{
.mat-header-cell:first-child{
  flex: 0 0 20%;
  padding-left: 5px;
}    
.mat-cell:first-child{
    flex: 0 0 20%;
    padding-left: 5px;
}
.mat-header-cell:nth-child(2){
    flex: 0 0 30%;
  }
  .mat-cell:nth-child(2){
    flex: 0 0 30%;
  }
.mat-header-cell:nth-child(7){
  flex: 0 0 25%;
  justify-content: center;
}
.mat-cell:nth-child(7){
  flex: 0 0 25%;
  justify-content: center;
}
.mat-header-cell:nth-child(8){
  flex: 0 0 25%;
}
.mat-cell:nth-child(8){
  flex: 0 0 25%;
}

  .btn-tbl{
    padding: 0.2rem 0.1rem;
}
}
