<div novalidate [formGroup]="screenFormGroup">
    <h5 class="detailhdr"> Item Details</h5>
    <div style="display: flex; flex-direction: column" [magic]="mgc.Details">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label>
                                Select Item
                            </label>
                            <div class="input-group">
                                <input class="form-control" [formControlName]="mgc.ItemName1" [magic]="mgc.ItemName1"
                                    mgFormat />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-loanlist btn-icon" magic="{{mgc.btnItem}}">
                                        <span class="svg-icon svg-icon-lg">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path
                                                        d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path
                                                        d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                        fill="#000000" opacity="0.3" />
                                                </g>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                Qty
                            </label>
                            <input class="form-control" type='number' [formControlName]="mgc.vItemQty"
                                [magic]="mgc.vItemQty" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                Unit
                            </label>
                            <div>
                                <input class="form-control" [formControlName]="mgc.Unit" [magic]="mgc.Unit" mgFormat />
                                <mgError [magic]=mgc.Unit> </mgError>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                Rate
                            </label>
                            <input class="form-control" [formControlName]="mgc.vRate" id="Rate" MgControlType="MgEdit"
                                mask="separator" thousandSeparator="," [magic]="mgc.vRate" mgFormat />
                            <mgError [magic]=mgc.vRate> </mgError>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                Amount
                            </label>
                            <input class="form-control" [formControlName]="mgc.vAmt" id="Amt" MgControlType="MgEdit"
                                mask="separator" thousandSeparator="," [magic]="mgc.vAmt" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-6">
                        <div class="form-group">
                            <label>
                                Discount(%)
                            </label>
                            <input class="form-control" [formControlName]="mgc.vDisc_Percentage"
                                [magic]="mgc.vDisc_Percentage" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-6">
                        <div class="form-group">
                            <label>
                                Disc. Amt
                            </label>
                            <input class="form-control" [formControlName]="mgc.vDisc_Amt" id="discamt"
                                MgControlType="MgEdit" mask="separator" thousandSeparator="," [magic]="mgc.vDisc_Amt"
                                mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label>
                                Total Amount
                            </label>
                            <input class="form-control" [formControlName]="mgc.vTotal" id="total" MgControlType="MgEdit"
                                mask="separator" thousandSeparator="," [magic]="mgc.vTotal" mgFormat />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-1 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                            </label>
                            <button type="button" class="btn btn-warning mr-2" [magic]="mgc.NewItem">
                                New Item
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                CGST
                            </label>
                            <select class="form-control" [magic]="mgc.vCGST" [formControlName]="mgc.vCGST">
                                <option *ngFor="let o of mg.getItemListValues(mgc.vCGST);"
                                    [selected]="o.index == mg.getValue(mgc.vCGST)" [value]="o.index">
                                    {{o.displayValue}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                SGST
                            </label>
                            <select class="form-control" [magic]="mgc.vSGST" [formControlName]="mgc.vSGST">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vSGST);"
                                [selected]="o.index == mg.getValue(mgc.vSGST)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                IGST
                            </label>
                            <select class="form-control" [magic]="mgc.vIGST_0001" [formControlName]="mgc.vIGST_0001">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vIGST_0001);"
                                [selected]="o.index == mg.getValue(mgc.vIGST_0001)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-3">
                        <div class="form-group">
                            <label class="lable_overflow">
                                Avail. Qty.
                            </label>
                            <input class="form-control" type='number' [formControlName]="mgc.vAvailableQty"
                                [magic]="mgc.vAvailableQty" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label class="lable_overflow">
                                User Description
                            </label>
                            <input class="form-control" [formControlName]="mgc.vUserDesc" [magic]="mgc.vUserDesc" placeholder="User Description" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-3">
                        <div class="form-group" style="display: flex;justify-content: space-between;">
                        <button style="margin-top: 25px;" type="button" class="btn btn-success" [magic]="mgc.vbtnAdd" [title]="mg.getTitle(mgc.vbtnAdd)"
                            [disabled]="mg.isDisabled(mgc.vbtnAdd )">
                            +
                        </button>
                        <button style="margin-top: 25px;" type="button" class="btn btn-danger" [magic]="mgc.BtnClear" [title]="mg.getTitle(mgc.BtnClear)">
                            X
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table1048610TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column1048611" [matColumnDef]="mgc.Column1048611">
                        <mat-header-cell *matHeaderCellDef>
                            Item
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.Edit1048628" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Edit1048628, row.rowId)">
                                        {{mg.getValue(mgc.Edit1048628, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048612" [matColumnDef]="mgc.Column1048612">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            QTY.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.Item_Quantity" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Item_Quantity, row.rowId)">
                                        {{mg.getValue(mgc.Item_Quantity, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048613" [matColumnDef]="mgc.Column1048613">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Unit
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.Unit1" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Unit1, row.rowId)">
                                        {{mg.getValue(mgc.Unit1, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048614" [matColumnDef]="mgc.Column1048614">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Price
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.Item_Price" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Item_Price, row.rowId)">
                                        {{mg.getValue(mgc.Item_Price, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048615" [matColumnDef]="mgc.Column1048615">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amount
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.Basic" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.Basic" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Basic, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.Basic [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.Basic"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Basic, row.rowId)">
                                            {{mg.getValue(mgc.Basic, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048616" [matColumnDef]="mgc.Column1048616">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Disc. %
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.Discount_Percentage" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Discount_Percentage, row.rowId)">
                                        {{mg.getValue(mgc.Discount_Percentage, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048617" [matColumnDef]="mgc.Column1048617">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Disc. Amt
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.Discount_Amount" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Discount_Amount, row.rowId)">
                                        {{mg.getValue(mgc.Discount_Amount, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048618" [matColumnDef]="mgc.Column1048618">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Total
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.Total" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.Total" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Total, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.Total [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.Total"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Total, row.rowId)">
                                            {{mg.getValue(mgc.Total, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048619" [matColumnDef]="mgc.Column1048619">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            CGST
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div *ngIf="mg.isRowInRowEditing(row)">
                                        <select [magic]="mgc.CGST_Id" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CGST_Id, row.rowId)"
                                            [formControlName]="mgc.CGST_Id">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.CGST_Id, row.rowId);"
                                                [selected]="o.index == mg.getValue(mgc.CGST_Id, row.rowId)"
                                                [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="!mg.isRowInRowEditing(row)">
                                        <label [magic]="mgc.CGST_Id" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CGST_Id, row.rowId)">
                                            {{ mg.getDisplayValue(mgc.CGST_Id, row.rowId) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048620" [matColumnDef]="mgc.Column1048620">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            CGST Amt
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CGSTAmt" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.CGSTAmt" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CGSTAmt, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.CGSTAmt [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CGSTAmt"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CGSTAmt, row.rowId)">
                                            {{mg.getValue(mgc.CGSTAmt, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048621" [matColumnDef]="mgc.Column1048621">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            SGST
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div *ngIf="mg.isRowInRowEditing(row)">
                                        <select [magic]="mgc.SGST_Id" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.SGST_Id, row.rowId)"
                                            [formControlName]="mgc.SGST_Id">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.SGST_Id, row.rowId);"
                                                [selected]="o.index == mg.getValue(mgc.SGST_Id, row.rowId)"
                                                [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="!mg.isRowInRowEditing(row)">
                                        <label [magic]="mgc.SGST_Id" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.SGST_Id, row.rowId)">
                                            {{ mg.getDisplayValue(mgc.SGST_Id, row.rowId) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048622" [matColumnDef]="mgc.Column1048622">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            SGST Amt
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.SGSTAmt" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.SGSTAmt" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.SGSTAmt, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.SGSTAmt [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.SGSTAmt"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.SGSTAmt, row.rowId)">
                                            {{mg.getValue(mgc.SGSTAmt, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048623" [matColumnDef]="mgc.Column1048623">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            IGST
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div *ngIf="mg.isRowInRowEditing(row)">
                                        <select [magic]="mgc.IGST_Id" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.IGST_Id, row.rowId)"
                                            [formControlName]="mgc.IGST_Id">
                                            <option *ngFor="let o of mg.getItemListValues(mgc.IGST_Id, row.rowId);"
                                                [selected]="o.index == mg.getValue(mgc.IGST_Id, row.rowId)"
                                                [value]="o.index">
                                                {{o.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="!mg.isRowInRowEditing(row)">
                                        <label [magic]="mgc.IGST_Id" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.IGST_Id, row.rowId)">
                                            {{ mg.getDisplayValue(mgc.IGST_Id, row.rowId) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048624" [matColumnDef]="mgc.Column1048624">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            IGST Amt
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.IGSTAmt" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.IGSTAmt" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.IGSTAmt, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.IGSTAmt [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.IGSTAmt"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.IGSTAmt, row.rowId)">
                                            {{mg.getValue(mgc.IGSTAmt, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048625" [matColumnDef]="mgc.Column1048625">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Total Tax
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.TotalTax" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.TotalTax" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.TotalTax, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.TotalTax [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.TotalTax"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.TotalTax, row.rowId)">
                                            {{mg.getValue(mgc.TotalTax, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048626" [matColumnDef]="mgc.Column1048626">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amt + Tax
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.TotalWttax" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.TotalWttax" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.TotalWttax, row.rowId)" mgFormat />
                                        <mgError [magic]=mgc.TotalWttax [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.TotalWttax"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.TotalWttax, row.rowId)">
                                            {{mg.getValue(mgc.TotalWttax, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048627" [matColumnDef]="mgc.Column1048627">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button type="button" class="btn btn-tbl" [magic]="mgc.BtnDelete2" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.BtnDelete2, row.rowId)">
                                    <i area-hidden="true" class="icon-xl fas fa-trash text-danger"></i>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="5" (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>