<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.CompanyList">
        <div class="example-container mat-elevation-z8 Table3TableContainerProps"
            [style.visibility]="mg.getVisible(mgc.Table3)">
            <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                (matSortChange)="tableService.sortData($event)">
                <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                    <mat-header-cell *matHeaderCellDef>
                        Company Branch Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.BranchName" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.BranchName, row.rowId)">
                                    {{mg.getValue(mgc.BranchName, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Branch Location
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.BranchLocation" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.BranchLocation, row.rowId)">
                                    {{mg.getValue(mgc.BranchLocation, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                    <mat-header-cell *matHeaderCellDef>
                        User Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Status" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Status, row.rowId)">
                                    {{mg.getValue(mgc.Status, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                    [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                    (click)="row? tableService.selectRow(row.rowId) : null">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                (page)="tableService.mgOnPaginateChange($event)">
            </mat-paginator>
        </div>
        <label [magic]="mgc.Label1" *ngIf="mg.getVisible(mgc.Label1)==='visible'" class="lable_overflow">
            You are not associated with any Company!
        </label>
        <div class="row">
            <div class="col-lg-10 col-sm-12">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <button [magic]="mgc.Go" *ngIf="mg.getVisible(mgc.Go)==='visible'"  class="btn btn-primary" style="width: 100%;">
                    Select
                </button>
            </div>
        </div>
    </div>
</div>