.aside {
  background-color: #505b5f; }
  .aside .aside-menu.ps > .ps__rail-x {
    background-color: transparent; }
    .aside .aside-menu.ps > .ps__rail-x:hover, .aside .aside-menu.ps > .ps__rail-x:focus {
      opacity: 1;
      background-color: transparent; }
      .aside .aside-menu.ps > .ps__rail-x:hover > .ps__thumb-x, .aside .aside-menu.ps > .ps__rail-x:focus > .ps__thumb-x {
        opacity: 1; }
    .aside .aside-menu.ps > .ps__rail-x > .ps__thumb-x {
      background-color: #637099;
      opacity: 1; }
      .aside .aside-menu.ps > .ps__rail-x > .ps__thumb-x:hover, .aside .aside-menu.ps > .ps__rail-x > .ps__thumb-x:focus {
        opacity: 1;
        background-color: #637099; }
  .aside .aside-menu.ps > .ps__rail-y {
    background-color: transparent; }
    .aside .aside-menu.ps > .ps__rail-y:hover, .aside .aside-menu.ps > .ps__rail-y:focus {
      background-color: transparent;
      opacity: 1; }
      .aside .aside-menu.ps > .ps__rail-y:hover > .ps__thumb-y, .aside .aside-menu.ps > .ps__rail-y:focus > .ps__thumb-y {
        opacity: 1; }
    .aside .aside-menu.ps > .ps__rail-y > .ps__thumb-y {
      background: #637099;
      opacity: 1; }
      .aside .aside-menu.ps > .ps__rail-y > .ps__thumb-y:hover, .aside .aside-menu.ps > .ps__rail-y > .ps__thumb-y:focus {
        opacity: 1;
        background: #637099; }

        .homeico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='33px' height='33px' viewBox='0 0 24 24' version='1.1'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect x='0' y='0' width='24' height='24'/%3E%3Cpath d='M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z' fill='white' opacity='0.5' /%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .homeico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31px' height='31px' viewBox='0 0 24 24' version='1.1'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect x='0' y='0' width='24' height='24'/%3E%3Cpath d='M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z' fill='%23fff4de' opacity='1' /%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
        }
        
        .adminico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_5' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='33px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M167,325.6c-0.9-2.8-3.5-4.6-6.4-4.6h-32.8c-58,0-105.1,47-105.1,105.1v46.6c0,8.6,7,15.6,15.6,15.6 h172.5c4.6,0,7.8-4.4,6.4-8.8L167,325.6z M384.6,321h-32.7c-2.9,0-5.5,1.9-6.4,4.6l-50.2,154c-1.4,4.4,1.8,8.8,6.4,8.8h172.4 c8.6,0,15.6-7,15.6-15.6v-46.6C489.7,368,442.6,321,384.6,321z M385.1,153c0-71.2-57.7-128.9-128.9-128.9 C185,24.1,127.3,81.8,127.3,153c0,71.2,57.7,128.9,128.9,128.9C327.4,281.9,385.1,224.2,385.1,153z' opacity='0.5' /%3E%3Cpath fill='white' d='M256.2,324.6c-11.1,0-20.1,9-20.1,20.1v107.3c0,11.1,9,20.1,20.1,20.1c11.1,0,20.1-9,20.1-20.1V344.7 C276.3,333.6,267.3,324.6,256.2,324.6z' opacity='0.3' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")  no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .adminico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_5' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31px' height='31px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff4de' d='M167,325.6c-0.9-2.8-3.5-4.6-6.4-4.6h-32.8c-58,0-105.1,47-105.1,105.1v46.6c0,8.6,7,15.6,15.6,15.6 h172.5c4.6,0,7.8-4.4,6.4-8.8L167,325.6z M384.6,321h-32.7c-2.9,0-5.5,1.9-6.4,4.6l-50.2,154c-1.4,4.4,1.8,8.8,6.4,8.8h172.4 c8.6,0,15.6-7,15.6-15.6v-46.6C489.7,368,442.6,321,384.6,321z M385.1,153c0-71.2-57.7-128.9-128.9-128.9 C185,24.1,127.3,81.8,127.3,153c0,71.2,57.7,128.9,128.9,128.9C327.4,281.9,385.1,224.2,385.1,153z' opacity='1' /%3E%3Cpath fill='white' d='M256.2,324.6c-11.1,0-20.1,9-20.1,20.1v107.3c0,11.1,9,20.1,20.1,20.1c11.1,0,20.1-9,20.1-20.1V344.7 C276.3,333.6,267.3,324.6,256.2,324.6z' opacity='0.4' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")  no-repeat center center;
        }
        
        .vendorico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='33px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M482.4,274.4l-15.6-83.6c-3.6-19.3-20.4-33.3-40.1-33.3h-34.2c-19.6,0-36.4,14-40.1,33.2 c1.2,3.5,2.3,6.9,3,10.6l18.7,100.2c2.2,11.9,0.3,23.8-5,34.4c0,0.3,0.2,0.6,0.2,0.9l6.2,77.1c0.9,10.6,9.7,18.7,20.3,18.7h27.6 c10.6,0,19.5-8.2,20.3-18.7l6.2-77.1c0.3-3.6,1.5-7,3.5-9.9l25.6-37.2C482.3,285.2,483.4,279.7,482.4,274.4z M105.5,128.7 c26.5,0,48.1-21.5,48.1-48.1c0-26.5-21.5-48.1-48.1-48.1c-26.6,0-48.1,21.5-48.1,48.1C57.5,107.1,79,128.7,105.5,128.7z M411.1,128.7c26.5,0,48.1-21.5,48.1-48.1c0-26.5-21.5-48.1-48.1-48.1c-26.6,0-48.1,21.5-48.1,48.1 C363,107.1,384.5,128.7,411.1,128.7z M121.3,157.5H87.1c-19.6,0-36.5,14-40.1,33.3l-15.6,83.6c-1,5.3,0.2,10.8,3.2,15.3l25.6,37.2 c2,2.9,3.2,6.4,3.5,9.9l6.2,77.1c0.8,10.6,9.7,18.7,20.3,18.7H118c10.6,0,19.5-8.2,20.3-18.7l6.2-77.1c0-0.3,0.1-0.6,0.2-0.8 c-5.3-10.6-7.2-22.6-5-34.4l18.7-100.2c0.7-3.7,1.8-7.2,3-10.6C157.7,171.4,140.9,157.5,121.3,157.5z' opacity='0.3' /%3E%3Cpath fill='white' d='M258.6,132.4c31.8,0,57.6-25.8,57.6-57.6c0-31.8-25.8-57.6-57.6-57.6c-31.8,0-57.6,25.8-57.6,57.6 C200.9,106.7,226.8,132.4,258.6,132.4z M344.2,307.1l-18.7-100.2c-4.3-23.2-24.5-39.9-48.1-39.9h-41c-23.5,0-43.8,16.8-48.1,39.9 l-18.7,100.2c-1.2,6.4,0.2,13,3.9,18.3l30.7,44.6c2.4,3.5,3.9,7.6,4.2,11.9l7.4,92.4c1,12.7,11.6,22.5,24.4,22.5h33.1 c12.7,0,23.3-9.8,24.4-22.5l7.4-92.4c0.3-4.3,1.8-8.4,4.2-11.9l30.7-44.6C343.9,320.1,345.3,313.5,344.2,307.1z' opacity='0.5' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .vendorico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31px' height='31px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M482.4,274.4l-15.6-83.6c-3.6-19.3-20.4-33.3-40.1-33.3h-34.2c-19.6,0-36.4,14-40.1,33.2 c1.2,3.5,2.3,6.9,3,10.6l18.7,100.2c2.2,11.9,0.3,23.8-5,34.4c0,0.3,0.2,0.6,0.2,0.9l6.2,77.1c0.9,10.6,9.7,18.7,20.3,18.7h27.6 c10.6,0,19.5-8.2,20.3-18.7l6.2-77.1c0.3-3.6,1.5-7,3.5-9.9l25.6-37.2C482.3,285.2,483.4,279.7,482.4,274.4z M105.5,128.7 c26.5,0,48.1-21.5,48.1-48.1c0-26.5-21.5-48.1-48.1-48.1c-26.6,0-48.1,21.5-48.1,48.1C57.5,107.1,79,128.7,105.5,128.7z M411.1,128.7c26.5,0,48.1-21.5,48.1-48.1c0-26.5-21.5-48.1-48.1-48.1c-26.6,0-48.1,21.5-48.1,48.1 C363,107.1,384.5,128.7,411.1,128.7z M121.3,157.5H87.1c-19.6,0-36.5,14-40.1,33.3l-15.6,83.6c-1,5.3,0.2,10.8,3.2,15.3l25.6,37.2 c2,2.9,3.2,6.4,3.5,9.9l6.2,77.1c0.8,10.6,9.7,18.7,20.3,18.7H118c10.6,0,19.5-8.2,20.3-18.7l6.2-77.1c0-0.3,0.1-0.6,0.2-0.8 c-5.3-10.6-7.2-22.6-5-34.4l18.7-100.2c0.7-3.7,1.8-7.2,3-10.6C157.7,171.4,140.9,157.5,121.3,157.5z' opacity='0.4' /%3E%3Cpath fill='%23fff4de' d='M258.6,132.4c31.8,0,57.6-25.8,57.6-57.6c0-31.8-25.8-57.6-57.6-57.6c-31.8,0-57.6,25.8-57.6,57.6 C200.9,106.7,226.8,132.4,258.6,132.4z M344.2,307.1l-18.7-100.2c-4.3-23.2-24.5-39.9-48.1-39.9h-41c-23.5,0-43.8,16.8-48.1,39.9 l-18.7,100.2c-1.2,6.4,0.2,13,3.9,18.3l30.7,44.6c2.4,3.5,3.9,7.6,4.2,11.9l7.4,92.4c1,12.7,11.6,22.5,24.4,22.5h33.1 c12.7,0,23.3-9.8,24.4-22.5l7.4-92.4c0.3-4.3,1.8-8.4,4.2-11.9l30.7-44.6C343.9,320.1,345.3,313.5,344.2,307.1z' opacity='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;  
        }
        
        .doctrackico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='33px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M493.2,248.3c0-57.5-46.6-104.1-104.1-104.1c-57.5,0-104.1,46.6-104.1,104.1c0,52,38.2,95,88.1,102.7 v17.4h-0.4c-6.4,0-11.6,5.2-11.6,11.6v88.9c0,6.4,5.2,11.6,11.6,11.6h32.9c6.4,0,11.6-5.2,11.6-11.6V380 c0-6.4-5.2-11.6-11.6-11.6h-0.4V351C455,343.3,493.2,300.3,493.2,248.3z M389.1,312.3c-35.4,0-64.1-28.7-64.1-64.1 c0-35.4,28.7-64.1,64.1-64.1c35.4,0,64.1,28.7,64.1,64.1C453.1,283.6,424.4,312.3,389.1,312.3z M157.1,254.3h-40.6 c-6.4,0-11.6,5.2-11.6,11.6v46.4c0,6.4,5.2,11.6,11.6,11.6h40.6c6.4,0,11.6-5.2,11.6-11.6v-46.4 C168.7,259.5,163.5,254.3,157.1,254.3z' opacity='0.3' /%3E%3Cpath fill='white' d='M389.1,39.8H64.3c-25.6,0-46.4,20.8-46.4,46.4v290c0,25.6,20.8,46.4,46.4,46.4H332v-46.1 c0-0.1,0-0.2,0-0.3H75.9c-6.4,0-11.6-5.2-11.6-11.6V167.3c0-6.4,5.2-11.6,11.6-11.6h217.9c23.3-24,55.5-39.5,91.1-40.5 c1.4,0,2.8-0.1,4.1-0.1c16.3,0,31.9,3.1,46.4,8.5V86.2C435.4,60.5,414.7,39.8,389.1,39.8z M87.5,121 c-12.8,0-23.2-10.4-23.2-23.2s10.4-23.2,23.2-23.2s23.2,10.4,23.2,23.2S100.3,121,87.5,121z M203.5,115.2h-46.4 c-9.6,0-17.4-7.8-17.4-17.4s7.8-17.4,17.4-17.4h46.4c9.6,0,17.4,7.8,17.4,17.4S213.1,115.2,203.5,115.2z M209.3,332.6h58 c8,0,14.5-6.5,14.5-14.5c0-8-6.5-14.5-14.5-14.5h-58c-8,0-14.5,6.5-14.5,14.5C194.8,326.1,201.3,332.6,209.3,332.6z M244.1,187.6H116.5c-8,0-14.5,6.5-14.5,14.5c0,8,6.5,14.5,14.5,14.5h127.6c8,0,14.5-6.5,14.5-14.5 C258.6,194.1,252.1,187.6,244.1,187.6z M244.1,245.6h-34.8c-8,0-14.5,6.5-14.5,14.5c0,8,6.5,14.5,14.5,14.5h34.8 c8,0,14.5-6.5,14.5-14.5C258.6,252.1,252.1,245.6,244.1,245.6z' opacity='0.5' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .doctrackico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31px' height='31px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M493.2,248.3c0-57.5-46.6-104.1-104.1-104.1c-57.5,0-104.1,46.6-104.1,104.1c0,52,38.2,95,88.1,102.7 v17.4h-0.4c-6.4,0-11.6,5.2-11.6,11.6v88.9c0,6.4,5.2,11.6,11.6,11.6h32.9c6.4,0,11.6-5.2,11.6-11.6V380 c0-6.4-5.2-11.6-11.6-11.6h-0.4V351C455,343.3,493.2,300.3,493.2,248.3z M389.1,312.3c-35.4,0-64.1-28.7-64.1-64.1 c0-35.4,28.7-64.1,64.1-64.1c35.4,0,64.1,28.7,64.1,64.1C453.1,283.6,424.4,312.3,389.1,312.3z M157.1,254.3h-40.6 c-6.4,0-11.6,5.2-11.6,11.6v46.4c0,6.4,5.2,11.6,11.6,11.6h40.6c6.4,0,11.6-5.2,11.6-11.6v-46.4 C168.7,259.5,163.5,254.3,157.1,254.3z' opacity='0.3' /%3E%3Cpath fill='%23fff4de' d='M389.1,39.8H64.3c-25.6,0-46.4,20.8-46.4,46.4v290c0,25.6,20.8,46.4,46.4,46.4H332v-46.1 c0-0.1,0-0.2,0-0.3H75.9c-6.4,0-11.6-5.2-11.6-11.6V167.3c0-6.4,5.2-11.6,11.6-11.6h217.9c23.3-24,55.5-39.5,91.1-40.5 c1.4,0,2.8-0.1,4.1-0.1c16.3,0,31.9,3.1,46.4,8.5V86.2C435.4,60.5,414.7,39.8,389.1,39.8z M87.5,121 c-12.8,0-23.2-10.4-23.2-23.2s10.4-23.2,23.2-23.2s23.2,10.4,23.2,23.2S100.3,121,87.5,121z M203.5,115.2h-46.4 c-9.6,0-17.4-7.8-17.4-17.4s7.8-17.4,17.4-17.4h46.4c9.6,0,17.4,7.8,17.4,17.4S213.1,115.2,203.5,115.2z M209.3,332.6h58 c8,0,14.5-6.5,14.5-14.5c0-8-6.5-14.5-14.5-14.5h-58c-8,0-14.5,6.5-14.5,14.5C194.8,326.1,201.3,332.6,209.3,332.6z M244.1,187.6H116.5c-8,0-14.5,6.5-14.5,14.5c0,8,6.5,14.5,14.5,14.5h127.6c8,0,14.5-6.5,14.5-14.5 C258.6,194.1,252.1,187.6,244.1,187.6z M244.1,245.6h-34.8c-8,0-14.5,6.5-14.5,14.5c0,8,6.5,14.5,14.5,14.5h34.8 c8,0,14.5-6.5,14.5-14.5C258.6,252.1,252.1,245.6,244.1,245.6z' opacity='1' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center; 
        }
        
        .vbsico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='33px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M173.4,370.6c-0.9-2.4-3.2-3.9-5.8-3.9h-44.9c-45.5,0-82.4,36.9-82.4,82.4v40.9c0,3.4,2.8,6.2,6.2,6.2 h166.6c4.3,0,7.3-4.4,5.8-8.4L173.4,370.6z M388,366.7h-44.8c-2.6,0-4.9,1.6-5.8,3.9L292,487.7c-1.6,4.1,1.4,8.4,5.8,8.4h166.5 c3.4,0,6.2-2.8,6.2-6.2v-40.9C470.4,403.6,433.5,366.7,388,366.7z' opacity='0.3' /%3E%3Cpath fill='white' d='M255.4,370c-10.2,0-18.5,8.3-18.5,18.5V475c0,10.2,8.3,18.5,18.5,18.5c10.2,0,18.5-8.3,18.5-18.5v-86.4 C273.9,378.3,265.6,370,255.4,370z M419.4,155c-0.6-3.7-3.8-6.4-7.6-6.4h-15.6c-5-1.4-9-5.3-10.6-10.5 c-2.9-9.2-6.8-17.9-11.5-26.2c-1.7-3-1.3-6.7,1.1-9.1l12.5-12.5c2.7-2.7,3.1-6.9,0.8-9.9c-9.6-12.9-21-24.3-33.8-33.9 c-3-2.3-7.3-1.9-10,0.8l-12.5,12.5c-2.4,2.4-6.1,2.8-9.1,1.1c-11.5-6.6-24-11.5-37.3-14.6c0,0,0,0,0,0V22.8c0-3.7-2.7-7-6.4-7.6 c-7.8-1.2-15.8-1.8-24-1.8c-8.2,0-16.2,0.7-24,1.8c-3.7,0.5-6.4,3.8-6.4,7.6v23.6h0c-13.3,3-25.8,8-37.4,14.6 c-3,1.7-6.7,1.3-9.1-1.1L166,47.3c-2.7-2.7-6.9-3.1-10-0.8c-12.8,9.6-24.2,21-33.8,33.9c-2.2,3-1.8,7.3,0.8,9.9l12.5,12.5 c2.4,2.4,2.8,6.1,1.1,9.1c-4.7,8.2-8.6,17-11.5,26.2c-1.7,5.2-5.6,9.1-10.6,10.5H98.9c-3.7,0-7,2.7-7.6,6.4 c-1.2,8-1.9,16.1-1.9,24.4c0,8.3,0.7,16.4,1.9,24.4c0.6,3.7,3.8,6.4,7.6,6.4h15.6c5,1.4,9,5.3,10.6,10.5 c2.9,9.2,6.8,17.9,11.5,26.2c1.7,3,1.3,6.6-1.1,9.1l-12.5,12.5c-2.7,2.7-3.1,6.9-0.8,9.9c9.6,12.9,21,24.3,33.8,33.9 c3,2.3,7.3,1.8,10-0.8l12.5-12.5c2.4-2.4,6.1-2.8,9.1-1.1c11.5,6.6,24,11.6,37.3,14.6c0,0,0,0,0,0v23.6c0,3.7,2.7,7,6.4,7.6 c7.8,1.2,15.8,1.8,24,1.8c8.2,0,16.2-0.7,24-1.8c3.7-0.6,6.4-3.8,6.4-7.6v-23.6c0,0,0,0,0,0c13.3-3,25.8-8,37.3-14.6 c3-1.7,6.7-1.3,9.1,1.1l12.5,12.5c2.7,2.7,7,3.1,10,0.8c12.8-9.6,24.2-21,33.8-33.9c2.2-3,1.8-7.3-0.8-9.9l-12.5-12.5 c-2.4-2.4-2.8-6.1-1.1-9.1c4.7-8.2,8.6-17,11.5-26.2c1.7-5.2,5.6-9.1,10.6-10.5h15.6c3.7,0,7-2.7,7.6-6.4c1.2-8,1.9-16.1,1.9-24.4 C421.3,171,420.6,162.9,419.4,155z M318,189.4c-4.1,26.7-25.9,48.5-52.6,52.6c-42.8,6.6-79.2-29.8-72.6-72.7 c4.1-26.7,25.9-48.5,52.6-52.6C288.2,110.1,324.6,146.5,318,189.4z' opacity='0.5' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .vbsico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31px' height='31px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M173.4,370.6c-0.9-2.4-3.2-3.9-5.8-3.9h-44.9c-45.5,0-82.4,36.9-82.4,82.4v40.9c0,3.4,2.8,6.2,6.2,6.2 h166.6c4.3,0,7.3-4.4,5.8-8.4L173.4,370.6z M388,366.7h-44.8c-2.6,0-4.9,1.6-5.8,3.9L292,487.7c-1.6,4.1,1.4,8.4,5.8,8.4h166.5 c3.4,0,6.2-2.8,6.2-6.2v-40.9C470.4,403.6,433.5,366.7,388,366.7z' opacity='0.4' /%3E%3Cpath fill='%23fff4de' d='M255.4,370c-10.2,0-18.5,8.3-18.5,18.5V475c0,10.2,8.3,18.5,18.5,18.5c10.2,0,18.5-8.3,18.5-18.5v-86.4 C273.9,378.3,265.6,370,255.4,370z M419.4,155c-0.6-3.7-3.8-6.4-7.6-6.4h-15.6c-5-1.4-9-5.3-10.6-10.5 c-2.9-9.2-6.8-17.9-11.5-26.2c-1.7-3-1.3-6.7,1.1-9.1l12.5-12.5c2.7-2.7,3.1-6.9,0.8-9.9c-9.6-12.9-21-24.3-33.8-33.9 c-3-2.3-7.3-1.9-10,0.8l-12.5,12.5c-2.4,2.4-6.1,2.8-9.1,1.1c-11.5-6.6-24-11.5-37.3-14.6c0,0,0,0,0,0V22.8c0-3.7-2.7-7-6.4-7.6 c-7.8-1.2-15.8-1.8-24-1.8c-8.2,0-16.2,0.7-24,1.8c-3.7,0.5-6.4,3.8-6.4,7.6v23.6h0c-13.3,3-25.8,8-37.4,14.6 c-3,1.7-6.7,1.3-9.1-1.1L166,47.3c-2.7-2.7-6.9-3.1-10-0.8c-12.8,9.6-24.2,21-33.8,33.9c-2.2,3-1.8,7.3,0.8,9.9l12.5,12.5 c2.4,2.4,2.8,6.1,1.1,9.1c-4.7,8.2-8.6,17-11.5,26.2c-1.7,5.2-5.6,9.1-10.6,10.5H98.9c-3.7,0-7,2.7-7.6,6.4 c-1.2,8-1.9,16.1-1.9,24.4c0,8.3,0.7,16.4,1.9,24.4c0.6,3.7,3.8,6.4,7.6,6.4h15.6c5,1.4,9,5.3,10.6,10.5 c2.9,9.2,6.8,17.9,11.5,26.2c1.7,3,1.3,6.6-1.1,9.1l-12.5,12.5c-2.7,2.7-3.1,6.9-0.8,9.9c9.6,12.9,21,24.3,33.8,33.9 c3,2.3,7.3,1.8,10-0.8l12.5-12.5c2.4-2.4,6.1-2.8,9.1-1.1c11.5,6.6,24,11.6,37.3,14.6c0,0,0,0,0,0v23.6c0,3.7,2.7,7,6.4,7.6 c7.8,1.2,15.8,1.8,24,1.8c8.2,0,16.2-0.7,24-1.8c3.7-0.6,6.4-3.8,6.4-7.6v-23.6c0,0,0,0,0,0c13.3-3,25.8-8,37.3-14.6 c3-1.7,6.7-1.3,9.1,1.1l12.5,12.5c2.7,2.7,7,3.1,10,0.8c12.8-9.6,24.2-21,33.8-33.9c2.2-3,1.8-7.3-0.8-9.9l-12.5-12.5 c-2.4-2.4-2.8-6.1-1.1-9.1c4.7-8.2,8.6-17,11.5-26.2c1.7-5.2,5.6-9.1,10.6-10.5h15.6c3.7,0,7-2.7,7.6-6.4c1.2-8,1.9-16.1,1.9-24.4 C421.3,171,420.6,162.9,419.4,155z M318,189.4c-4.1,26.7-25.9,48.5-52.6,52.6c-42.8,6.6-79.2-29.8-72.6-72.7 c4.1-26.7,25.9-48.5,52.6-52.6C288.2,110.1,324.6,146.5,318,189.4z' opacity='1' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
        }
        
        .docico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_6' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='33px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M225.9,17.7H79.5c-7.2,0-13.1,5.9-13.1,13.1v451.7c0,7.2,5.9,13.1,13.1,13.1h146.3 c7.2,0,13.1-5.9,13.1-13.1V30.8C239,23.6,233.1,17.7,225.9,17.7z M152.7,423.6c-21.7,0-39.3-17.6-39.3-39.3 c0-21.7,17.6-39.3,39.3-39.3c21.7,0,39.3,17.6,39.3,39.3C192,406,174.4,423.6,152.7,423.6z M181.5,178.1h-57.6 c-9,0-16.4-7.3-16.4-16.4c0-9,7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4C197.9,170.8,190.5,178.1,181.5,178.1z M181.5,112.6h-57.6c-9,0-16.4-7.3-16.4-16.4s7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4S190.5,112.6,181.5,112.6z' opacity='0.3' /%3E%3Cpath fill='white' d='M433,17.7H283.4c-7.2,0-13.1,5.9-13.1,13.1v451.7c0,7.2,5.9,13.1,13.1,13.1H433c7.2,0,13.1-5.9,13.1-13.1 V30.8C446.1,23.6,440.3,17.7,433,17.7z M358.2,423.6c-21.7,0-39.3-17.6-39.3-39.3c0-21.7,17.6-39.3,39.3-39.3 c21.7,0,39.3,17.6,39.3,39.3C397.5,406,379.9,423.6,358.2,423.6z M387.1,178.1h-57.6c-9,0-16.4-7.3-16.4-16.4 c0-9,7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4C403.4,170.8,396.1,178.1,387.1,178.1z M387.1,112.6h-57.6 c-9,0-16.4-7.3-16.4-16.4s7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4S396.1,112.6,387.1,112.6z' opacity='0.5' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .docico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_6' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31px' height='31px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M225.9,17.7H79.5c-7.2,0-13.1,5.9-13.1,13.1v451.7c0,7.2,5.9,13.1,13.1,13.1h146.3 c7.2,0,13.1-5.9,13.1-13.1V30.8C239,23.6,233.1,17.7,225.9,17.7z M152.7,423.6c-21.7,0-39.3-17.6-39.3-39.3 c0-21.7,17.6-39.3,39.3-39.3c21.7,0,39.3,17.6,39.3,39.3C192,406,174.4,423.6,152.7,423.6z M181.5,178.1h-57.6 c-9,0-16.4-7.3-16.4-16.4c0-9,7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4C197.9,170.8,190.5,178.1,181.5,178.1z M181.5,112.6h-57.6c-9,0-16.4-7.3-16.4-16.4s7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4S190.5,112.6,181.5,112.6z' opacity='0.4' /%3E%3Cpath fill='%23fff4de' d='M433,17.7H283.4c-7.2,0-13.1,5.9-13.1,13.1v451.7c0,7.2,5.9,13.1,13.1,13.1H433c7.2,0,13.1-5.9,13.1-13.1 V30.8C446.1,23.6,440.3,17.7,433,17.7z M358.2,423.6c-21.7,0-39.3-17.6-39.3-39.3c0-21.7,17.6-39.3,39.3-39.3 c21.7,0,39.3,17.6,39.3,39.3C397.5,406,379.9,423.6,358.2,423.6z M387.1,178.1h-57.6c-9,0-16.4-7.3-16.4-16.4 c0-9,7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4C403.4,170.8,396.1,178.1,387.1,178.1z M387.1,112.6h-57.6 c-9,0-16.4-7.3-16.4-16.4s7.3-16.4,16.4-16.4h57.6c9,0,16.4,7.3,16.4,16.4S396.1,112.6,387.1,112.6z' opacity='1' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
        }
        
        .csico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='33px' height='33px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M378,292.3L293.8,358c-4.2,3.3-9.3,5-14.6,5l-60.2,0c-8.2,0-14.8-6.7-14.8-14.9 c0-8.2,6.7-14.8,14.9-14.8l50.5,0c16.4,0,29.7-13.3,29.7-29.6c0-16.4-13.3-29.7-29.7-29.7L154,273.9l0,0l-7.8,0 c-15.9,0-31.4,5.3-44,15.1l-41.3,32.3c-2.6,2-3,5.8-1,8.3l79.9,101.4c1.1,1.4,2.8,2.2,4.6,2.3l96.9,1l26.8,0.3 c16.2,0.2,32.1-5.2,44.8-15.3l101.9-80.2c12.9-10.2,15.1-28.9,5-41.8C409.5,284.5,390.9,282.2,378,292.3z M449.6,181.8 L369.7,80.4c-1.1-1.4-2.8-2.2-4.6-2.3l-96.9-1l-26.8-0.3c-16.2-0.2-32.1,5.2-44.8,15.3L94.8,172.3c-12.9,10.2-15.1,28.9-5,41.8 c10.1,12.9,28.8,15.1,41.7,5l84.2-65.7c4.2-3.3,9.3-5,14.6-5l60.2,0.1c8.2,0,14.8,6.7,14.8,14.9c0,8.2-6.7,14.8-14.9,14.8 l-50.5,0c-16.4,0-29.7,13.3-29.7,29.6c0,16.4,13.3,29.7,29.7,29.7l82.9,0.1l40.5,0c15.9,0,31.4-5.3,44-15.1l41.3-32.3 C451.1,188.1,451.6,184.4,449.6,181.8z' opacity='0.3' /%3E%3Cpath fill='white' d='M36.6,348c-2-2.6-5.8-3-8.3-1L9.6,361.7c-2.6,2-3,5.8-1,8.3l78,99c2,2.6,5.8,3,8.3,1l18.7-14.7 c2.6-2,3-5.8,1-8.3L36.6,348z M500.9,141.4l-78-99c-2-2.6-5.8-3-8.3-1l-18.7,14.7c-2.6,2-3,5.8-1,8.3l78,99c2,2.6,5.8,3,8.3,1 l18.7-14.7C502.5,147.7,502.9,144,500.9,141.4z' opacity='0.5' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .csico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31px' height='31px' viewBox='0 0 509.8 509.8' enable-background='new 0 0 509.8 509.8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='white' d='M378,292.3L293.8,358c-4.2,3.3-9.3,5-14.6,5l-60.2,0c-8.2,0-14.8-6.7-14.8-14.9 c0-8.2,6.7-14.8,14.9-14.8l50.5,0c16.4,0,29.7-13.3,29.7-29.6c0-16.4-13.3-29.7-29.7-29.7L154,273.9l0,0l-7.8,0 c-15.9,0-31.4,5.3-44,15.1l-41.3,32.3c-2.6,2-3,5.8-1,8.3l79.9,101.4c1.1,1.4,2.8,2.2,4.6,2.3l96.9,1l26.8,0.3 c16.2,0.2,32.1-5.2,44.8-15.3l101.9-80.2c12.9-10.2,15.1-28.9,5-41.8C409.5,284.5,390.9,282.2,378,292.3z M449.6,181.8 L369.7,80.4c-1.1-1.4-2.8-2.2-4.6-2.3l-96.9-1l-26.8-0.3c-16.2-0.2-32.1,5.2-44.8,15.3L94.8,172.3c-12.9,10.2-15.1,28.9-5,41.8 c10.1,12.9,28.8,15.1,41.7,5l84.2-65.7c4.2-3.3,9.3-5,14.6-5l60.2,0.1c8.2,0,14.8,6.7,14.8,14.9c0,8.2-6.7,14.8-14.9,14.8 l-50.5,0c-16.4,0-29.7,13.3-29.7,29.6c0,16.4,13.3,29.7,29.7,29.7l82.9,0.1l40.5,0c15.9,0,31.4-5.3,44-15.1l41.3-32.3 C451.1,188.1,451.6,184.4,449.6,181.8z' opacity='0.4' /%3E%3Cpath fill='%23fff4de' d='M36.6,348c-2-2.6-5.8-3-8.3-1L9.6,361.7c-2.6,2-3,5.8-1,8.3l78,99c2,2.6,5.8,3,8.3,1l18.7-14.7 c2.6-2,3-5.8,1-8.3L36.6,348z M500.9,141.4l-78-99c-2-2.6-5.8-3-8.3-1l-18.7,14.7c-2.6,2-3,5.8-1,8.3l78,99c2,2.6,5.8,3,8.3,1 l18.7-14.7C502.5,147.7,502.9,144,500.9,141.4z' opacity='1' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
        }

        .logico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='33px' height='33px' viewBox='0 0 24 24' version='1.1'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect opacity='0.300000012' x='0' y='0' /%3E%3Cpolygon fill='white' fill-rule='nonzero' opacity='0.3' points='7 4.89473684 7 21 5 21 5 3 11 3 11 4.89473684' /%3E%3Cpath d='M10.1782982,2.24743315 L18.1782982,3.6970464 C18.6540619,3.78325557 19,4.19751166 19,4.68102291 L19,19.3190064 C19,19.8025177 18.6540619,20.2167738 18.1782982,20.3029829 L10.1782982,21.7525962 C9.63486295,21.8510675 9.11449486,21.4903531 9.0160235,20.9469179 C9.00536265,20.8880837 9,20.8284119 9,20.7686197 L9,3.23140966 C9,2.67912491 9.44771525,2.23140966 10,2.23140966 C10.0597922,2.23140966 10.119464,2.2367723 10.1782982,2.24743315 Z M11.9166667,12.9060229 C12.6070226,12.9060229 13.1666667,12.2975724 13.1666667,11.5470105 C13.1666667,10.7964487 12.6070226,10.1879981 11.9166667,10.1879981 C11.2263107,10.1879981 10.6666667,10.7964487 10.6666667,11.5470105 C10.6666667,12.2975724 11.2263107,12.9060229 11.9166667,12.9060229 Z' opacity='0.5' fill='white' /%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .logico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31px' height='31px' viewBox='0 0 24 24' version='1.1'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect opacity='0.300000012' x='0' y='0'  /%3E%3Cpolygon fill='white' fill-rule='nonzero' opacity='0.5' points='7 4.89473684 7 21 5 21 5 3 11 3 11 4.89473684' /%3E%3Cpath d='M10.1782982,2.24743315 L18.1782982,3.6970464 C18.6540619,3.78325557 19,4.19751166 19,4.68102291 L19,19.3190064 C19,19.8025177 18.6540619,20.2167738 18.1782982,20.3029829 L10.1782982,21.7525962 C9.63486295,21.8510675 9.11449486,21.4903531 9.0160235,20.9469179 C9.00536265,20.8880837 9,20.8284119 9,20.7686197 L9,3.23140966 C9,2.67912491 9.44771525,2.23140966 10,2.23140966 C10.0597922,2.23140966 10.119464,2.2367723 10.1782982,2.24743315 Z M11.9166667,12.9060229 C12.6070226,12.9060229 13.1666667,12.2975724 13.1666667,11.5470105 C13.1666667,10.7964487 12.6070226,10.1879981 11.9166667,10.1879981 C11.2263107,10.1879981 10.6666667,10.7964487 10.6666667,11.5470105 C10.6666667,12.2975724 11.2263107,12.9060229 11.9166667,12.9060229 Z' opacity='1' fill='white' /%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
        }

        .changepassico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33px' height='33px' viewBox='0 0 24 24' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath d='M7.39 2.835A10.466 10.466 0 0111.5 2C17.299 2 22 6.701 22 12.5S17.299 23 11.5 23 1 18.299 1 12.5c0-.985.136-1.938.39-2.842l1.925.54A8.509 8.509 0 003 12.5 8.5 8.5 0 1011.5 4c-.951 0-1.878.156-2.751.454l1.19 1.42a.5.5 0 01-.354.82l-4.867.276a.5.5 0 01-.515-.615l1.129-4.731a.5.5 0 01.869-.206L7.39 2.835z' fill='white' opacity='.3'/%3E%3Cpath d='M14.5 11a1 1 0 011 1v3a1 1 0 01-1 1h-5a1 1 0 01-1-1v-3a1 1 0 011-1v-.5a2.5 2.5 0 115 0v.5zM12 9a1.5 1.5 0 00-1.5 1.5v.5h3v-.5A1.5 1.5 0 0012 9z' opacity='0.5' fill='white'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
            padding: 33px 34px;
            border-bottom: solid 1px #27343a;
            border-top: solid 1px #27343a;
            margin-right: 15px;
        }
        
        .menu-link:hover > .changepassico {
          background: #2d3a40 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31px' height='31px' viewBox='0 0 24 24' %3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath d='M7.39 2.835A10.466 10.466 0 0111.5 2C17.299 2 22 6.701 22 12.5S17.299 23 11.5 23 1 18.299 1 12.5c0-.985.136-1.938.39-2.842l1.925.54A8.509 8.509 0 003 12.5 8.5 8.5 0 1011.5 4c-.951 0-1.878.156-2.751.454l1.19 1.42a.5.5 0 01-.354.82l-4.867.276a.5.5 0 01-.515-.615l1.129-4.731a.5.5 0 01.869-.206L7.39 2.835z' fill='white' opacity='.5'/%3E%3Cpath d='M14.5 11a1 1 0 011 1v3a1 1 0 01-1 1h-5a1 1 0 01-1-1v-3a1 1 0 011-1v-.5a2.5 2.5 0 115 0v.5zM12 9a1.5 1.5 0 00-1.5 1.5v.5h3v-.5A1.5 1.5 0 0012 9z' opacity='1' fill='white'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
        }


.aside-menu {
  background-color: #505b5f ; background-image: url(../media/bg/menubg.png); background-repeat: repeat-y; }
  .aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
  .aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
    color: #c3c7c8 ; }
  .aside-menu .menu-nav > .menu-item > .menu-heading .menu-icon,
  .aside-menu .menu-nav > .menu-item > .menu-link .menu-icon {
    color: #494b74 ;
    padding: 6px 4px;
    color: #494b74;
    background-color: #2d3a40;
    border-bottom: solid 1px #27343a;
      border-top: solid 1px #27343a;
    margin-right: 15px;}
    .aside-menu .menu-nav > .menu-item > .menu-heading .menu-icon.svg-icon svg g [fill],
    .aside-menu .menu-nav > .menu-item > .menu-link .menu-icon.svg-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #909996; }
    .aside-menu .menu-nav > .menu-item > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
    .aside-menu .menu-nav > .menu-item > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
  .aside-menu .menu-nav > .menu-item > .menu-heading .menu-bullet.menu-bullet-dot > span,
  .aside-menu .menu-nav > .menu-item > .menu-link .menu-bullet.menu-bullet-dot > span {
    background-color: #5c5e81 ; }
  .aside-menu .menu-nav > .menu-item > .menu-heading .menu-bullet.menu-bullet-line > span,
  .aside-menu .menu-nav > .menu-item > .menu-link .menu-bullet.menu-bullet-line > span {
    background-color: #5c5e81 ; }
  .aside-menu .menu-nav > .menu-item > .menu-heading .menu-arrow,
  .aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow {
    color: #5c5e81 ;
    padding-right: 11px;}


  .aside-menu .menu-nav > .menu-item.menu-item-open {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading,
    .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-arrow {
        color: #ffffff ; }


  .aside-menu .menu-nav > .menu-item.menu-item-here {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading,
    .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-arrow {
        color: #ffffff ; }


  .aside-menu .menu-nav > .menu-item.menu-item-active {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading,
    .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-arrow {
        color: #ffffff ; }


  .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
    .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow {
        color: #ffffff ; }



  .aside-menu .menu-nav > .menu-item > .menu-arrow {
    color: #1e1e2d; }
  .aside-menu .menu-nav > .menu-section .menu-text {
    color: #4c4e6f ; }
  .aside-menu .menu-nav > .menu-section .menu-icon {
    color: #4c4e6f ; }
  .aside-menu .menu-nav > .menu-separator {
    border-bottom: 1px solid #4c4e6f ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-text,
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-text {
    color: #c3c7c8 ; outline: -webkit-focus-ring-color auto 0px; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-icon,
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-icon {
    color: #494b74 ; }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-icon.svg-icon svg g [fill],
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-icon.svg-icon svg g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
      fill: #494b74; }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-bullet.menu-bullet-dot > span,
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-bullet.menu-bullet-dot > span {
    background-color: #747c80 ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-bullet.menu-bullet-line > span,
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-bullet.menu-bullet-line > span {
    background-color: #5c5e81 ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-arrow,
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-arrow {
    color: #5c5e81 ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading,
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-arrow {
        color: #ffffff ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading,
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-here > .menu-link .menu-arrow {
        color: #ffffff ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading,
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-arrow {
        color: #ffffff ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
      background-color: #414d53 ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
        color: #ffffff ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon {
        color: #fff4de ; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
          fill: #fff4de; }
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-dot > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-line > span,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-line > span {
        background-color: #fff4de ; }
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow,
      .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow {
        color: #ffffff ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-section .menu-text {
    color: #4c4e6f ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-section .menu-icon {
    color: #4c4e6f ; }
  .aside-menu .menu-nav > .menu-item .menu-submenu .menu-separator {
    border-bottom: 1px solid #4c4e6f ; }

@media (min-width: 992px) {
  .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item {
    background: transparent; }
    .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item > .menu-link > .menu-icon {
      color: #7c87a6; }
    .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-hover, .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-open {
      background: transparent !important; }
      .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-hover > .menu-link > .menu-icon, .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link > .menu-icon {
        color: #fff4de ; }
    .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-here, .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-active {
      background: transparent !important; }
      .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link > .menu-icon, .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link > .menu-icon {
        color: #fff4de ; }
    .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item:hover {
      background: transparent; }
      .aside-minimize:not(.aside-minimize-hover) .aside-menu .menu-nav > .menu-item:hover > .menu-link > .menu-icon {
        color: #fff4de !important; } }

@media (min-width: 992px) {
  .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu,
  .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15); }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-text,
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-text,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-text,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-text {
      color: #696e92 ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-icon,
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-icon,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-icon,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-icon {
      color: #a8aabb ; }
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-icon.svg-icon svg g [fill],
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-icon.svg-icon svg g [fill],
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-icon.svg-icon svg g [fill],
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-icon.svg-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #a8aabb; }
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-icon.svg-icon svg:hover g [fill],
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-bullet.menu-bullet-dot > span,
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-bullet.menu-bullet-dot > span,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-bullet.menu-bullet-dot > span,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-bullet.menu-bullet-dot > span {
      background-color: #a8aabb ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-bullet.menu-bullet-line > span,
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-bullet.menu-bullet-line > span,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-bullet.menu-bullet-line > span,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-bullet.menu-bullet-line > span {
      background-color: #a8aabb ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-arrow,
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-arrow,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-heading .menu-arrow,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item > .menu-link .menu-arrow {
      color: #a8aabb ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading,
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link {
        background-color: #F3F6F9 ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-text,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-text,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-text,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-text {
          color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-icon,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-icon,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-icon,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-icon {
          color: #fff4de ; }
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg g [fill],
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #fff4de; }
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg:hover g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-dot > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-bullet.menu-bullet-line > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-arrow,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-arrow,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-heading .menu-arrow,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-open > .menu-link .menu-arrow {
          color: #fff4de ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading,
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link {
        background-color: #F3F6F9 ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg g [fill],
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg g [fill],
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
          -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-dot > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-here > .menu-link .menu-bullet.menu-bullet-line > span {
          background-color: #fff4de ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading,
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link {
        background-color: #F3F6F9 ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-text,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-text,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-text,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-text {
          color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-icon,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-icon,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-icon,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-icon {
          color: #fff4de ; }
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill],
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #fff4de; }
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg:hover g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-line > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-arrow,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-arrow,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-heading .menu-arrow,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item.menu-item-active > .menu-link .menu-arrow {
          color: #fff4de ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
      .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
      .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
        background-color: #F3F6F9 ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
          color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon {
          color: #fff4de ; }
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg g [fill],
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease;
            fill: #fff4de; }
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
          .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg:hover g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon.svg-icon svg:hover g [fill],
          .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon.svg-icon svg:hover g [fill] {
            -webkit-transition: fill 0.3s ease;
            transition: fill 0.3s ease; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-dot > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-bullet.menu-bullet-line > span,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-line > span {
          background-color: #fff4de ; }
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow,
        .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow,
        .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow {
          color: #fff4de ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-section .menu-text,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-section .menu-text {
      color: #a4a7bd ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-section .menu-icon,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-section .menu-icon {
      color: #aaacc2 ; }
    .aside-minimize .aside-menu .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-separator,
    .aside-menu.aside-menu-dropdown .menu-nav .menu-item:not([data-menu-submenu-mode=accordion]).menu-item-hover > .menu-submenu .menu-subnav .menu-separator {
      border-bottom: 1px solid rgba(0, 0, 0, 0.07) ; } }

      .menujsonsub {padding-inline-start: 68px !important;}
      .menujsonsub .menu-text {padding: 11px 5px 11px 16px !important;    
        display: list-item !important;
        list-style-type: circle !important;}
      
  