<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CityList"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048579"
                class="lable_overflow"
            >
                Country Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.C_Name"
                    [magic]="mgc.C_Name"
                    mgFormat
                />
                <mgError [magic]=mgc.C_Name> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048581"
                class="lable_overflow"
            >
                State Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.S_Name"
                    [magic]="mgc.S_Name"
                    mgFormat
                />
                <mgError [magic]=mgc.S_Name> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048584"
                class="lable_overflow"
            >
                City Id
            </label>
            <div>
                <input
                    [formControlName]="mgc.CityId"
                    type='number'
                    [magic]="mgc.CityId"
                    mgFormat
                />
                <mgError [magic]=mgc.CityId> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048586"
                class="lable_overflow"
            >
                Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.Name"
                    [magic]="mgc.Name"
                    mgFormat
                />
                <mgError [magic]=mgc.Name> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048588"
                class="lable_overflow"
            >
                Short Name:
            </label>
            <div>
                <input
                    [formControlName]="mgc.ShortName"
                    [magic]="mgc.ShortName"
                    mgFormat
                />
                <mgError [magic]=mgc.ShortName> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048590"
                class="lable_overflow"
            >
                Description:
            </label>
            <div>
                <input
                    [formControlName]="mgc.Description"
                    [magic]="mgc.Description"
                    mgFormat
                />
                <mgError [magic]=mgc.Description> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048591"
                class="lable_overflow"
            >
                Active:
            </label>
            <div>
                <input
                    type="checkbox"
                    id="Active"
                    [formControlName]="mgc.Active"
                    [magic]="mgc.Active"
                />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048592"
                class="lable_overflow"
            >
            </label>
            <button [magic]="mgc.Close">
                &amp;Close
            </button>
        </div>
    </div>
</div>