.btn-tbl{
    padding: 0.5rem 0.2rem;
}
mat-cell:first-child{
    flex: 0 0 35%;
    padding-left: 10px;
}
.mat-header-cell:first-child{
    flex: 0 0 35%;
    padding-left: 10px;
}

.mat-header-cell:nth-child(6){
    flex: 0 0 12%;
}
.mat-cell:nth-child(6){
    flex: 0 0 12%;
}



@media (max-width: 775.98px) 
{
.mat-header-cell:first-child{
  flex: 0 0 50%;
  padding-left: 5px;
}    
.mat-cell:first-child{
    flex: 0 0 50%;
    padding-left: 5px;
}
.mat-header-cell:nth-child(2){
    flex: 0 0 25%;
  }
  .mat-cell:nth-child(2){
    flex: 0 0 25%;
  }
.mat-header-cell:nth-child(6){
  flex: 0 0 15%;
}
.mat-cell:nth-child(6){
  flex: 0 0 15%;
  justify-content: right;
}

  .btn-tbl{
    padding: 0.2rem 0.1rem;
}
.mat-cell:last-of-type{
    padding-right: 5px;
}
.mat-header-cell:last-of-type{
    padding-right:  5px;
}
}
