<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMSales">
    </div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMSales','FormName')}}
            </h5>
            <button type="button" class="close" magic="{{mgc.Cancel}}">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body mod">
            <div class="row">
                <div class="col-lg-12 col-xxl-12">
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>
                                    Sales Code
                                </label>
                                <input class="form-control" [formControlName]="mgc.SalesCode" [magic]="mgc.SalesCode"
                                    mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Date
                                </label>
                                <input class="form-control" type="date" [formControlName]="mgc.Edit36"
                                    [magic]="mgc.Edit36" dateInput />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>
                                    Refrence PO No.
                                </label>
                                <input class="form-control" [formControlName]="mgc.RefNo" [magic]="mgc.RefNo"
                                    mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>
                                    Customer
                                </label>
                                <div class="input-group">
                                    <input class="form-control" [formControlName]="mgc.SupplierName"
                                        [magic]="mgc.SupplierName" mgFormat />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-loanlist btn-icon"
                                            magic="{{mgc.btnCustomer}}">
                                            <span class="svg-icon svg-icon-lg">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path
                                                            d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path
                                                            d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                            fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Ship to
                                </label>
                                <div class="input-group">
                                    <input class="form-control" [formControlName]="mgc.ShippTo" [magic]="mgc.ShippTo"
                                        mgFormat />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-loanlist btn-icon"
                                            magic="{{mgc.btnShipTo}}">
                                            <span class="svg-icon svg-icon-lg">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path
                                                            d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path
                                                            d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                            fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xxl-12">
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Basic
                                </label>
                                <input class="form-control mgtotal" id="amt" MgControlType="MgEdit" mask="separator"
                                    thousandSeparator="," [formControlName]="mgc.Basic" [magic]="mgc.Basic" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Tax
                                </label>
                                <input class="form-control mgtotal" id="tax" MgControlType="MgEdit" mask="separator"
                                    thousandSeparator="," [formControlName]="mgc.Tax" [magic]="mgc.Tax" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Total
                                </label>
                                <input class="form-control mgtotal" id="totalamt" MgControlType="MgEdit" mask="separator"
                                    thousandSeparator="," [formControlName]="mgc.Total" [magic]="mgc.Total" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Gross Discount
                                </label>
                                <input class="form-control mgtotal" id="GrossDisc" MgControlType="MgEdit"
                                    mask="separator" thousandSeparator="," [formControlName]="mgc.GrossDisc"
                                    [magic]="mgc.GrossDisc" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Total with Discount
                                </label>
                                <input class="form-control mgtotal" id="TotalWtDisc" MgControlType="MgEdit"
                                    mask="separator" thousandSeparator="," [formControlName]="mgc.TotalWtDisc"
                                    [magic]="mgc.TotalWtDisc" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lable_overflow">
                                    Remarks
                                </label>
                                <input class="form-control" [formControlName]="mgc.Remark" [magic]="mgc.Remark"
                                    mgFormat />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <magic-subform [magic]="mgc.Details">
                    </magic-subform>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="margin: 1rem;">
                        <button type="button" *ngIf="mg.getVisible(mgc.Save)==='visible'" class="btn btn-primary mr-2"
                            [magic]="mgc.Save">
                            Save
                        </button>
                        <div>
                            <input type="checkbox" id="Active" [formControlName]="mgc.Active" [magic]="mgc.Active" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>