<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CreateUser"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048577"
                class="lable_overflow"
            >
                {{mg.getText(mgc.Label1048577)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048578"
                class="lable_overflow"
            >
                First Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.FirstName1"
                    [magic]="mgc.FirstName1"
                />
                <mgError [magic]=mgc.FirstName1> </mgError>
            </div>
            <label
                [magic]="mgc.Label1048580"
                class="lable_overflow"
            >
                Last Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.LastName"
                    [magic]="mgc.LastName"
                />
                <mgError [magic]=mgc.LastName> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048582"
                class="lable_overflow"
            >
                User Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.UserName"
                    [magic]="mgc.UserName"
                />
                <mgError [magic]=mgc.UserName> </mgError>
            </div>
            <label
                [magic]="mgc.Label1048584"
                class="lable_overflow"
            >
                Password
            </label>
            <div>
                <input
                    [formControlName]="mgc.Password"
                    [magic]="mgc.Password"
                    [attr.required]=""
                    type="password"
                />
                <mgError [magic]=mgc.Password> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048588"
                class="lable_overflow"
            >
                Official Email
            </label>
            <div>
                <input
                    [formControlName]="mgc.OfficialEmail"
                    [magic]="mgc.OfficialEmail"
                />
                <mgError [magic]=mgc.OfficialEmail> </mgError>
            </div>
            <label
                [magic]="mgc.Label1048590"
                class="lable_overflow"
            >
                Personal Email
            </label>
            <div>
                <input
                    [formControlName]="mgc.PersonalEmail"
                    [magic]="mgc.PersonalEmail"
                />
                <mgError [magic]=mgc.PersonalEmail> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048594"
                class="lable_overflow"
            >
                Contact No.
            </label>
            <div>
                <input
                    [formControlName]="mgc.ContactNumber"
                    [magic]="mgc.ContactNumber"
                />
                <mgError [magic]=mgc.ContactNumber> </mgError>
            </div>
            <label
                [magic]="mgc.Label1048592"
                class="lable_overflow"
            >
                Mobile No.
            </label>
            <div>
                <input
                    [formControlName]="mgc.MobileNumber"
                    [magic]="mgc.MobileNumber"
                    mgFormat
                />
                <mgError [magic]=mgc.MobileNumber> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1048586"
                class="lable_overflow"
            >
                Confirm Password
            </label>
            <div>
                <input
                    [formControlName]="mgc.vConfirmPassword"
                    [magic]="mgc.vConfirmPassword"
                    [attr.required]=""
                    type="password"
                    mgFormat
                />
                <mgError [magic]=mgc.vConfirmPassword> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.Save"
                [title]="mg.getTitle(mgc.Save)"
            >
                &amp;Save
            </button>
            <button [magic]="mgc.Cancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div>