.btn-tbl{
    padding: 0.5rem 0.2rem;
}
mat-cell:first-child{
    flex: 0 0 50%;
    padding-left: 8px;
}
.mat-header-cell:first-child{
    flex: 0 0 50%;
    padding-left: 8px;
}
.mat-header-cell:nth-child(2){
  flex: 0 0 20%;
}
.mat-cell:nth-child(2){
  flex: 0 0 20%;
}


@media (max-width: 775.98px) 
{
.mat-header-cell:first-child{
  flex: 0 0 50%;
  padding-left: 5px;
}    
.mat-cell:first-child{
    flex: 0 0 50%;
    padding-left: 5px;
}
.mat-header-cell:nth-child(2){
    flex: 0 0 20%;
  }
  .mat-cell:nth-child(2){
    flex: 0 0 20%;
  }

  .btn-tbl{
    padding: 0.2rem 0.1rem;
}
}
