<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Detail">

        <div class="card-header">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <!-- <label [magic]="mgc.F5Lbl" class="lable_overflow">
                        F5
                    </label>
                    <label [magic]="mgc.gNoteLbl">
                        {{mg.getValue(mgc.gNoteLbl) }}
                    </label> -->
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.BtnNew}}">
                        <i class="flaticon-app mr-2"></i>Add New
                    </button>
                    <!-- <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.BtnEdit}}">
                        <i class="flaticon-app mr-2"></i>Edit
                    </button>
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.BtnView_Detail}}">
                        <i class="flaticon-app mr-2"></i>View
                    </button>
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.btnClose}}">
                        <i class="flaticon-app mr-2"></i>Close
                    </button> -->
                </div>
            </div>
        </div>

        <!-- 
        <div style="display: flex; flex-direction: row">            
            <label [magic]="mgc.F5Lbl" class="lable_overflow">
                F5
            </label>
            <label [magic]="mgc.gNoteLbl">
                {{mg.getValue(mgc.gNoteLbl) }}
            </label>
            <button [magic]="mgc.BtnNew">
                &amp;New
            </button>
            <button [magic]="mgc.BtnView_Detail" [title]="mg.getTitle(mgc.BtnView_Detail)">
                &amp;View
            </button>
            <button [magic]="mgc.BtnEdit">
                &amp;Edit
            </button>
            <button [magic]="mgc.BtnHelp">
                &amp;Help
            </button>
            <button [magic]="mgc.BtnClose">
                &amp;Close
            </button>
        </div> 
        -->

        <div class="card-body">
            <div class="m-tablewrapper pl-0 pr-0">
                <div class="example-container mat-elevation-z8 Table4TableContainerProps">
                    <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                        (matSortChange)="tableService.sortData($event)">
                        <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Unit Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.UnitIdEdit" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.UnitIdEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                            <mat-header-cell *matHeaderCellDef>
                                Description
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.UnitCodeEdit" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.UnitCodeEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                            <mat-header-cell *matHeaderCellDef>
                                Active
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="ActiveCheckBox_{{row.rowId}}"
                                            [formControlName]="mgc.ActiveCheckBox" [magic]="mgc.ActiveCheckBox"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.ActiveCheckBox, row.rowId)" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                            <mat-header-cell *matHeaderCellDef>
                                Created By
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CreatedByFullNameEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CreatedByFullNameEdit, row.rowId)">
                                            {{mg.getValue(mgc.CreatedByFullNameEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                            <mat-header-cell *matHeaderCellDef>
                                Created Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CreatedDateEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CreatedDateEdit, row.rowId)">
                                            {{mg.getValue(mgc.CreatedDateEdit, row.rowId)
                                            | magicDate : mgc.CreatedDateEdit}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column20" [matColumnDef]="mgc.Column20">
                            <mat-header-cell *matHeaderCellDef>
                                Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.BtnEdit" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.BtnEdit, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-edit text-success"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.BtnView_Detail" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.BtnView_Detail, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-eye text-warning"></i>
                                    </button>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                            [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                            (click)="row? tableService.selectRow(row.rowId) : null">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                        (page)="tableService.mgOnPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>