<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Detail">
        <div class="row col-lg-12">
            <div class="row col form-group">
                <button type="button" magic="{{mgc.Cancel}}" class="btn btn-secondary mr-2">Cancel</button>
                <button type="button" magic="{{mgc.BtnSelect}}" class="btn btn-primary font-weight-bold">Select</button>
            </div>
        </div>
        <div class="example-container mat-elevation-z8 Table2TableContainerProps">
            <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                (matSortChange)="tableService.sortData($event)">
                <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                    <mat-header-cell *matHeaderCellDef>
                        Product
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Description_0001" [rowId]="row.rowId">
                                    {{mg.getValue(mgc.Description_0001, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        HSN/SAC No.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.TableRow" [rowId]="row.rowId">
                                    {{mg.getValue(mgc.TableRow, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Stock
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.vIn_Qty" [rowId]="row.rowId">
                                    {{mg.getValue(mgc.vIn_Qty, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Inclusive
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <input type="checkbox" id="MyRecords_{{row.rowId}}" [formControlName]="mgc.MyRecords"
                                    [magic]="mgc.MyRecords" [rowId]="row.rowId" />
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                    [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                    (click)="row? tableService.selectRow(row.rowId) : null">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                (page)="tableService.mgOnPaginateChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>