<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMFinancialYear">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMFinancialYear','FormName')}}
                </h5>
                <!-- <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button> -->
                <button [magic]="mgc.BtnCancel" class="close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.BranchLbl" class="lable_overflow">
                                        Branch
                                    </label>
                                    <!-- <label [magic]="mgc.BranchNameEdit">
                                        {{mg.getValue(mgc.BranchNameEdit) }}
                                    </label> -->

                                    <div>
                                        <input [formControlName]="mgc.BranchNameEdit" [magic]="mgc.BranchNameEdit"
                                            mgFormat />
                                        <mgError [magic]=mgc.BranchNameEdit> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.FinYearLbl" class="lable_overflow">
                                        Fin. Year
                                    </label>
                                    <div>
                                        <input [formControlName]="mgc.FyyearEdit" [magic]="mgc.FyyearEdit" mgFormat />
                                        <mgError [magic]=mgc.FyyearEdit> </mgError>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.StartDateLbl" class="lable_overflow">
                                        Start Date
                                    </label>
                                    <div>
                                        <input type="date" [formControlName]="mgc.StartDateEdit"
                                            [magic]="mgc.StartDateEdit" dateInput />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label [magic]="mgc.EndDateLbl" class="lable_overflow">
                                        End Date
                                    </label>
                                    <div>
                                        <input type="date" [formControlName]="mgc.EndDateEdit" [magic]="mgc.EndDateEdit"
                                            dateInput />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label [magic]="mgc.DefaultYearLbl" class="lable_overflow">
                                        Default Year
                                    </label>
                                    <div>
                                        <input type="checkbox" id="DefaultYearCheckBox"
                                            [formControlName]="mgc.DefaultYearCheckBox"
                                            [magic]="mgc.DefaultYearCheckBox" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 0;">
                            <button [magic]="mgc.BtnSave" *ngIf="mg.getVisible(mgc.BtnSave)==='visible'"
                                [title]="mg.getTitle(mgc.BtnSave)" class="btn btn-primary mr-2">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMFinancialYear">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.HeaderLbl" class="lable_overflow">
                {{mg.getText(mgc.HeaderLbl)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.BranchLbl" class="lable_overflow">
                Branch
            </label>
            <label [magic]="mgc.BranchNameEdit">
                {{mg.getValue(mgc.BranchNameEdit) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.FinYearLbl" class="lable_overflow">
                Fin. Year
            </label>
            <div>
                <input [formControlName]="mgc.FyyearEdit" [magic]="mgc.FyyearEdit" mgFormat />
                <mgError [magic]=mgc.FyyearEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.StartDateLbl" class="lable_overflow">
                Start Date
            </label>
            <input type="date" [formControlName]="mgc.StartDateEdit" [magic]="mgc.StartDateEdit" dateInput />
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.EndDateLbl" class="lable_overflow">
                End Date
            </label>
            <input type="date" [formControlName]="mgc.EndDateEdit" [magic]="mgc.EndDateEdit" dateInput />
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.DefaultYearLbl" class="lable_overflow">
                Default Year
            </label>
            <div>
                <input type="checkbox" id="DefaultYearCheckBox" [formControlName]="mgc.DefaultYearCheckBox"
                    [magic]="mgc.DefaultYearCheckBox" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.BtnSave" [style.visibility]="mg.getVisible(mgc.BtnSave)"
                [title]="mg.getTitle(mgc.BtnSave)">
                &amp;Save
            </button>
            <button [magic]="mgc.BtnCancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->