<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column"  magic="{{mgc.CompanyCM}}"> </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Company Details</h5>
                <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type='text' class="form-control" formControlName="{{mgc.FullName}}" magic="{{mgc.FullName}}" mgFormat />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Share Item</label>
                                    <input type="checkbox" class="checkbox" [formControlName]="mgc.ShareItem" [magic]="mgc.ShareItem" id="ShareItem" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Share Customer</label>
                                    <input type="checkbox" class="checkbox" [formControlName]="mgc.ShareCustomer" [magic]="mgc.ShareCustomer" id="ShareCustomer" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Branch Wise Billing</label>
                                    <input type="checkbox" class="checkbox" [formControlName]="mgc.BranchWiseBilling" [magic]="mgc.BranchWiseBilling" id="BranchWiseBilling" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Active</label>
                                    <input type="checkbox" class="checkbox" [formControlName]="mgc.Active" [magic]="mgc.Active" id="Active" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Short Name</label>
                                    <input type='text' class="form-control" formControlName="{{mgc.ShortName}}" magic="{{mgc.ShortName}}" mgFormat />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type='text' class="form-control" formControlName="{{mgc.Location}}" magic="{{mgc.Location}}" mgFormat />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Print FormatNo</label>
                                    <select class="form-control" [magic]="mgc.PrintFormatNo" [formControlName]="mgc.PrintFormatNo">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.PrintFormatNo);" [selected]="o.index == mg.getValue(mgc.PrintFormatNo)" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div [magic]="mgc.vTab">
                            <div class="tab_control">
                                <div class="wizard wizard-3 pb-2">
                                    <div class="wizard-nav">
                                        <div class="wizard-steps px-1 py-1">
                                            <div class="wizard-step" data-wizard-state=""
                                                *ngFor="let o of mg.getItemListValues(mgc.vTab)">
                                                <div class="wizard-label"
                                                    (click)="task.mgOnTabSelectionChanged(mgc.vTab, o.index)"
                                                    [ngClass]="{'current01' : mg.isTabPageSelected(mgc.vTab, o.index+1 )}">
                                                    <h3 class="wizard-title">
                                                        <span class="label label-xl label-dottabs mr-2"></span>
                                                        {{mg.getTabpageText(mgc.vTab, o.index)}}
                                                    </h3>
                                                    <div class="wizard-bar">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="tab_content mb-2"
                                    [style.display]="mg.isTabPageLayerSelected(mgc.vTab, 1) ? 'flex' : 'none' "
                                    style="flex-direction: column">
        
                                    <div class="modal-body mod">
                                        <div class="row">
                                            <div class="col-lg-12 col-xxl-12">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Address
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.Address"
                                                                    [magic]="mgc.Address" mgFormat />
                                                                <mgError [magic]=mgc.Address> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Country
                                                            </label>
                                                            <div>
                                                                <select class="form-control" [magic]="mgc.CountryId"
                                                                    [formControlName]="mgc.CountryId">
                                                                    <option
                                                                        *ngFor="let o of mg.getItemListValues(mgc.CountryId);"
                                                                        [selected]="o.index == mg.getValue(mgc.CountryId)"
                                                                        [value]="o.index">
                                                                        {{o.displayValue}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                State
                                                            </label>
                                                            <div>
                                                                <select class="form-control" [magic]="mgc.StateId"
                                                                    [formControlName]="mgc.StateId">
                                                                    <option
                                                                        *ngFor="let o of mg.getItemListValues(mgc.StateId);"
                                                                        [selected]="o.index == mg.getValue(mgc.StateId)"
                                                                        [value]="o.index">
                                                                        {{o.displayValue}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Pincode
                                                            </label>
                                                                <input type="number" class="form-control" [formControlName]="mgc.Pincode"
                                                                    [magic]="mgc.Pincode" mgFormat />
                                                                <mgError [magic]=mgc.Pincode> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Contact Name
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.ContactName"
                                                                    [magic]="mgc.ContactName" mgFormat />
                                                                <mgError [magic]=mgc.ContactName> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Contact MobileNo
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.ContactMobileNo"
                                                                    [magic]="mgc.ContactMobileNo" mgFormat />
                                                                <mgError [magic]=mgc.ContactMobileNo> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Email
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.Email"
                                                                    [magic]="mgc.Email" mgFormat />
                                                                <mgError [magic]=mgc.Email> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                PANno
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.PANno"
                                                                    [magic]="mgc.PANno" mgFormat />
                                                                <mgError [magic]=mgc.PANno> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                GSTno
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.GSTno"
                                                                    [magic]="mgc.GSTno" mgFormat />
                                                                <mgError [magic]=mgc.GSTno> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Register Type
                                                            </label>
                                                            <div>
                                                                <select class="form-control" [magic]="mgc.RegisterType"
                                                                    [formControlName]="mgc.RegisterType">
                                                                    <option
                                                                        *ngFor="let o of mg.getItemListValues(mgc.RegisterType);"
                                                                        [selected]="o.index == mg.getValue(mgc.RegisterType)"
                                                                        [value]="o.index">
                                                                        {{o.displayValue}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Bank Name
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.BankName"
                                                                    [magic]="mgc.BankName" mgFormat />
                                                                <mgError [magic]=mgc.BankName> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                Account No
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.AccountNo"
                                                                    [magic]="mgc.AccountNo" mgFormat />
                                                                <mgError [magic]=mgc.AccountNo> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                                IFSC code
                                                            </label>
                                                                <input class="form-control" [formControlName]="mgc.IFSCcode"
                                                                    [magic]="mgc.IFSCcode" mgFormat />
                                                                <mgError [magic]=mgc.IFSCcode> </mgError>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label class="lable_overflow">
                                                            </label>
                                                            <button class="btn btn-primary mt-8" [magic]="mgc.Save">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12">
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div style="display: flex; flex-direction: row">
                            <button class="btn btn-primary" [magic]="mgc.Save">
                                Save
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
</div>