<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Details">
        <div class="row mt-2">
            <div class="col-lg-12 col-xxl-12">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.btnAdd}}">
                        <i class="flaticon-app mr-2"></i>Add New
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="m-tablewrapper pl-0 pr-0">
                <div class="example-container mat-elevation-z9 Table1048577TableContainerProps">
                    <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                        (matSortChange)="tableService.sortData($event)">
                        <ng-container [magic]="mgc.Column2097155" [matColumnDef]="mgc.Column2097155">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                               State Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.StateName" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.StateName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column2097156" [matColumnDef]="mgc.Column2097156">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                State Code
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.StateCode" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.StateCode, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column2097157" [matColumnDef]="mgc.Column2097157">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Country Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CName" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>

                        <ng-container [magic]="mgc.Column2097158" [matColumnDef]="mgc.Column2097158">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Short Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.ShortName" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.ShortName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        
                      
                        <ng-container [magic]="mgc.Column2097160" [matColumnDef]="mgc.Column2097160">
                            <mat-header-cell *matHeaderCellDef>
                                Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.btnEdit" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.btnEdit, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-edit text-success"></i>
                                    </button>
                                </div>
                               
                            </mat-cell>
                        </ng-container>
                        
                        <ng-container [magic]="mgc.Column2097159" [matColumnDef]="mgc.Column2097159">
                            <mat-header-cell *matHeaderCellDef>
                                Active
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="Active_{{row.rowId}}" [formControlName]="mgc.Active"
                                            [magic]="mgc.Active" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Active, row.rowId)" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                     
                       
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                            [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                            (click)="row? tableService.selectRow(row.rowId) : null">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                        (page)="tableService.mgOnPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>

        </div>






    </div>
</div>


<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.Details"
    >
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table2097154TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column2097155"
                        [matColumnDef]="mgc.Column2097155"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            State Name
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.StateName"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.StateName, row.rowId)"
                                    >
                                        {{mg.getValue(mgc.StateName, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097156"
                        [matColumnDef]="mgc.Column2097156"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            State Code
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.StateCode"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.StateCode, row.rowId)"
                                    >
                                        {{mg.getValue(mgc.StateCode, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097157"
                        [matColumnDef]="mgc.Column2097157"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Country Name
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.CName"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.CName, row.rowId)"
                                    >
                                        {{mg.getValue(mgc.CName, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097158"
                        [matColumnDef]="mgc.Column2097158"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Short Name
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.ShortName"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.ShortName, row.rowId)"
                                    >
                                        {{mg.getValue(mgc.ShortName, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column2097159"
                        [matColumnDef]="mgc.Column2097159"
                    >
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Active
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <input
                                        type="checkbox"
                                        id="Active_{{row.rowId}}"
                                        [formControlName]="mgc.Active"
                                        [magic]="mgc.Active"
                                        [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.Active, row.rowId)"
                                    />
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.gNote">
                {{mg.getValue(mgc.gNote) }}
            </label>
            <button [magic]="mgc.btnAdd">
                &amp;New
            </button>
            <button [magic]="mgc.btnEdit">
                &amp;Edit
            </button>
            <button
                [magic]="mgc.btnView"
                [title]="mg.getTitle(mgc.btnView)"
            >
                &amp;View
            </button>
            <button
                [magic]="mgc.btnDelete"
                [disabled]="mg.isDisabled(mgc.btnDelete )"
            >
                &amp;Delete
            </button>
            <button [magic]="mgc.btnClose">
                &amp;Close
            </button>
        </div>
    </div>
</div> -->