<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Details">
        <div class="card-header">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.btnAdd}}">
                        <i class="flaticon-app mr-2"></i> Add New
                    </button>
                    <!--<button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.btnEdit}}">
                        <i class="flaticon-app mr-2"></i>Edit
                    </button>
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.btnView}}">
                        <i class="flaticon-app mr-2"></i>View
                    </button>
                     <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.btnClose}}">
                        <i class="flaticon-app mr-2"></i>Close
                    </button> -->
                </div>
            </div>
        </div>

        <!-- 
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.F5Lbl" class="lable_overflow">
                F5
            </label>
            <label [magic]="mgc.gNoteEdit">
                {{mg.getValue(mgc.gNoteEdit) }}
            </label>
            <button [magic]="mgc.btnAdd">
                &amp;New
            </button>
            <button [magic]="mgc.btnEdit">
                &amp;Edit
            </button>
            <button [magic]="mgc.btnView" [title]="mg.getTitle(mgc.btnView)">
                &amp;View
            </button>
            <button [magic]="mgc.btnClose">
                &amp;Close
            </button>
        </div>
         -->

        <div class="card-body">
            <div class="m-tablewrapper pl-0 pr-0">
                <div class="example-container mat-elevation-z8 Table4TableContainerProps">
                    <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                        (matSortChange)="tableService.sortData($event)">
                        <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                            <mat-header-cell *matHeaderCellDef>
                                #
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.RecordIdEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.RecordIdEdit, row.rowId)">
                                            {{mg.getValue(mgc.RecordIdEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                            <mat-header-cell *matHeaderCellDef>
                                HSN/SAC No.
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.HSN_SAC_CodeEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.HSN_SAC_CodeEdit, row.rowId)">
                                            {{mg.getValue(mgc.HSN_SAC_CodeEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                            <mat-header-cell *matHeaderCellDef>
                                HSN/SAC Type
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.HSN_SAC_TypeEdit" [rowId]="row.rowId">
                                            {{mg.getValue(mgc.HSN_SAC_TypeEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                            <mat-header-cell *matHeaderCellDef>
                                CGST
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.DescriptionCGSTEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.DescriptionCGSTEdit, row.rowId)">
                                            {{mg.getValue(mgc.DescriptionCGSTEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                            <mat-header-cell *matHeaderCellDef>
                                SGST
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.DescriptionSGSTEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.DescriptionSGSTEdit, row.rowId)">
                                            {{mg.getValue(mgc.DescriptionSGSTEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column10" [matColumnDef]="mgc.Column10">
                            <mat-header-cell *matHeaderCellDef>
                                IGST
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.DescriptionIGSTEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.DescriptionIGSTEdit, row.rowId)">
                                            {{mg.getValue(mgc.DescriptionIGSTEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column11" [matColumnDef]="mgc.Column11">
                            <mat-header-cell *matHeaderCellDef>
                                CESS
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <div>
                                            <input [formControlName]="mgc.DescriptionCessEdit"
                                                *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.DescriptionCessEdit"
                                                [rowId]="row.rowId"
                                                [style.visibility]="mg.getVisible(mgc.DescriptionCessEdit, row.rowId)"
                                                mgFormat />
                                            <mgError [magic]=mgc.DescriptionCessEdit [rowId]="row.rowId"> </mgError>
                                            <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.DescriptionCessEdit"
                                                [rowId]="row.rowId"
                                                [style.visibility]="mg.getVisible(mgc.DescriptionCessEdit, row.rowId)">
                                                {{mg.getValue(mgc.DescriptionCessEdit, row.rowId)
                                                }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column12" [matColumnDef]="mgc.Column12">
                            <mat-header-cell *matHeaderCellDef>
                                Active
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="ActiveCheckBox_{{row.rowId}}"
                                            [formControlName]="mgc.ActiveCheckBox" [magic]="mgc.ActiveCheckBox"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.ActiveCheckBox, row.rowId)" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column13" [matColumnDef]="mgc.Column13">
                            <mat-header-cell *matHeaderCellDef>
                                Created By
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CreatedByFullNameEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CreatedByFullNameEdit, row.rowId)">
                                            {{mg.getValue(mgc.CreatedByFullNameEdit, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column14" [matColumnDef]="mgc.Column14">
                            <mat-header-cell *matHeaderCellDef>
                                Created Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CreatedDateEdit" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CreatedDateEdit, row.rowId)">
                                            {{mg.getValue(mgc.CreatedDateEdit, row.rowId)
                                            | magicDate : mgc.CreatedDateEdit}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column15" [matColumnDef]="mgc.Column15">
                            <mat-header-cell *matHeaderCellDef>
                                Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.btnEdit" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.btnEdit, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-edit text-success"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.btnView" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.btnView, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-eye text-warning"></i>
                                    </button>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                            [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                            (click)="row? tableService.selectRow(row.rowId) : null">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                        (page)="tableService.mgOnPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>