<div novalidate [formGroup]="screenFormGroup">
    <h5 class="detailhdr"> Item Details</h5>
    <div style="display: flex; flex-direction: column" [magic]="mgc.Details"></div>
    <div class="row">
        <div class="col-lg-12 col-xxl-12">
            <div class="form-group row">
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label>
                            Select Item
                        </label>
                        <div class="input-group">
                            <input class="form-control" [formControlName]="mgc.ItemName" [magic]="mgc.ItemName"
                                mgFormat />
                                 
                            <div class="input-group-append">
                                <button type="button" class="btn btn-loanlist btn-icon" magic="{{mgc.btnItem}}">
                                    <span class="svg-icon svg-icon-lg">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path
                                                    d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path
                                                    d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                    fill="#000000" opacity="0.3" />
                                            </g>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            Qty
                        </label>
                        <input class="form-control" type='number' [formControlName]="mgc.vItemQty"
                            [magic]="mgc.vItemQty" mgFormat />
                    </div>
                </div>
                <div class="col-lg-1 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            Unit
                        </label>
                        <div>
                            <input class="form-control" [formControlName]="mgc.vUnit" [magic]="mgc.vUnit" mgFormat />
                            <mgError [magic]=mgc.vUnit> </mgError>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            Rate
                        </label>
                        <input class="form-control" [formControlName]="mgc.vRate" id="Rate" MgControlType="MgEdit"
                            mask="separator" thousandSeparator="," [magic]="mgc.vRate" mgFormat />
                        <mgError [magic]=mgc.vRate> </mgError>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            Amount
                        </label>
                        <input class="form-control" [formControlName]="mgc.vAmt" id="Amt" MgControlType="MgEdit"
                            mask="separator" thousandSeparator="," [magic]="mgc.vAmt" mgFormat />
                    </div>
                </div>
                <div class="col-lg-1 col-sm-6">
                    <div class="form-group">
                        <label>
                            Discount(%)
                        </label>
                        <input class="form-control" [formControlName]="mgc.vDisc_Percentage"
                            [magic]="mgc.vDisc_Percentage" mgFormat />
                    </div>
                </div>
                <div class="col-lg-1 col-sm-6">
                    <div class="form-group">
                        <label>
                            Disc. Amt
                        </label>
                        <input class="form-control" [formControlName]="mgc.vDisc_Amt" id="discamt"
                            MgControlType="MgEdit" mask="separator" thousandSeparator="," [magic]="mgc.vDisc_Amt"
                            mgFormat />
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label>
                            Total Amount
                        </label>
                        <input class="form-control" [formControlName]="mgc.vTotal" id="total" MgControlType="MgEdit"
                            mask="separator" thousandSeparator="," [magic]="mgc.vTotal" mgFormat />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xxl-12">
            <div class="form-group row">
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            CGST
                        </label>
                        <select class="form-control" [magic]="mgc.vCGST" [formControlName]="mgc.vCGST">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vCGST);"
                                [selected]="o.index == mg.getValue(mgc.vCGST)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            SGST
                        </label>
                        <select class="form-control" [magic]="mgc.vSGST" [formControlName]="mgc.vSGST">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vSGST);"
                                [selected]="o.index == mg.getValue(mgc.vSGST)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            IGST
                        </label>
                        <select class="form-control" [magic]="mgc.vIGST" [formControlName]="mgc.vIGST">
                            <option *ngFor="let o of mg.getItemListValues(mgc.vIGST);"
                                [selected]="o.index == mg.getValue(mgc.vIGST)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-3">
                    <div class="form-group">
                        <label class="lable_overflow">
                            Avail. Qty.
                        </label>
                        <input class="form-control" type='number' [formControlName]="mgc.vAvailableQty"
                            [magic]="mgc.vAvailableQty" mgFormat />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <label class="lable_overflow">
                            User Description
                        </label>
                        <input class="form-control" [formControlName]="mgc.vCustomerDescription"
                            [magic]="mgc.vCustomerDescription" placeholder="User Description" mgFormat />
                    </div>
                </div>
                <div class="col-lg-1 col-sm-3">
                    <div class="form-group">
                        <label class="lable_overflow">
                            Tax Include
                        </label>
                        <input class="form-control" type="checkbox" [formControlName]="mgc.Active" [magic]="mgc.Active"
                            id="Active" mgFormat />
                    </div>
                </div>
                <div class="col-lg-1 col-sm-3">
                    <div class="form-group" style="display: flex;justify-content: space-between;">
                        <button style="margin-top: 25px;" type="button" class="btn btn-success" [magic]="mgc.vbtnAdd"
                            [title]="mg.getTitle(mgc.vbtnAdd)" [disabled]="mg.isDisabled(mgc.vbtnAdd )">
                            +
                        </button>
                        <button style="margin-top: 25px;" type="button" class="btn btn-danger" [magic]="mgc.BtnClear"
                            [title]="mg.getTitle(mgc.BtnClear)">
                            X
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-tablewrapper pl-0 pr-0">
        <div class="example-container mat-elevation-z8 Table38TableContainerProps">
            <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                (matSortChange)="tableService.sortData($event)">
                <ng-container [magic]="mgc.Column39" [matColumnDef]="mgc.Column39">
                    <mat-header-cell *matHeaderCellDef>
                        Item
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Edit58" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Edit58, row.rowId)">
                                    {{mg.getValue(mgc.Edit58, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column40" [matColumnDef]="mgc.Column40">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        QTY.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Item_Quantity" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Item_Quantity, row.rowId)">
                                    {{mg.getValue(mgc.Item_Quantity, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column41" [matColumnDef]="mgc.Column41">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Unit
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Unit" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Unit, row.rowId)">
                                    {{mg.getValue(mgc.Unit, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column42" [matColumnDef]="mgc.Column42">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Price
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Item_Price" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Item_Price, row.rowId)">
                                    {{mg.getValue(mgc.Item_Price, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column43" [matColumnDef]="mgc.Column43">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Amount
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Basic" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Basic, row.rowId)">
                                    {{mg.getValue(mgc.Basic, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column44" [matColumnDef]="mgc.Column44">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Disc. %
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Discount_Percentage" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Discount_Percentage, row.rowId)">
                                    {{mg.getValue(mgc.Discount_Percentage, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column45" [matColumnDef]="mgc.Column45">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Disc. Amt
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Discount_Amount" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Discount_Amount, row.rowId)">
                                    {{mg.getValue(mgc.Discount_Amount, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column46" [matColumnDef]="mgc.Column46">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Total
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.Total" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Total, row.rowId)">
                                    {{mg.getValue(mgc.Total, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column47" [matColumnDef]="mgc.Column47">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        CGST
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <div *ngIf="mg.isRowInRowEditing(row)">
                                    <select [magic]="mgc.CGST_Id" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.CGST_Id, row.rowId)"
                                        [formControlName]="mgc.CGST_Id">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.CGST_Id, row.rowId);"
                                            [selected]="o.index == mg.getValue(mgc.CGST_Id, row.rowId)"
                                            [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="!mg.isRowInRowEditing(row)">
                                    <label [magic]="mgc.CGST_Id" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.CGST_Id, row.rowId)">
                                        {{ mg.getDisplayValue(mgc.CGST_Id, row.rowId) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column48" [matColumnDef]="mgc.Column48">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        CGST Amt
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.CGSTAmt" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.CGSTAmt, row.rowId)">
                                    {{mg.getValue(mgc.CGSTAmt, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column49" [matColumnDef]="mgc.Column49">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        SGST
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <div *ngIf="mg.isRowInRowEditing(row)">
                                    <select [magic]="mgc.SGST_Id" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.SGST_Id, row.rowId)"
                                        [formControlName]="mgc.SGST_Id">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.SGST_Id, row.rowId);"
                                            [selected]="o.index == mg.getValue(mgc.SGST_Id, row.rowId)"
                                            [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="!mg.isRowInRowEditing(row)">
                                    <label [magic]="mgc.SGST_Id" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.SGST_Id, row.rowId)">
                                        {{ mg.getDisplayValue(mgc.SGST_Id, row.rowId) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column50" [matColumnDef]="mgc.Column50">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        SGST Amt
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.SGSTAmt" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.SGSTAmt, row.rowId)">
                                    {{mg.getValue(mgc.SGSTAmt, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column51" [matColumnDef]="mgc.Column51">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        IGST
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <div *ngIf="mg.isRowInRowEditing(row)">
                                    <select [magic]="mgc.IGST_Id" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.IGST_Id, row.rowId)"
                                        [formControlName]="mgc.IGST_Id">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.IGST_Id, row.rowId);"
                                            [selected]="o.index == mg.getValue(mgc.IGST_Id, row.rowId)"
                                            [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="!mg.isRowInRowEditing(row)">
                                    <label [magic]="mgc.IGST_Id" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.IGST_Id, row.rowId)">
                                        {{ mg.getDisplayValue(mgc.IGST_Id, row.rowId) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column52" [matColumnDef]="mgc.Column52">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        IGST Amt
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.IGSTAmt" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.IGSTAmt, row.rowId)">
                                    {{mg.getValue(mgc.IGSTAmt, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column53" [matColumnDef]="mgc.Column53">
                    <mat-header-cell *matHeaderCellDef>
                        CESS
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <div *ngIf="mg.isRowInRowEditing(row)">
                                    <select [magic]="mgc.CESSId" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.CESSId, row.rowId)"
                                        [formControlName]="mgc.CESSId">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.CESSId, row.rowId);"
                                            [selected]="o.index == mg.getValue(mgc.CESSId, row.rowId)"
                                            [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="!mg.isRowInRowEditing(row)">
                                    <label [magic]="mgc.CESSId" [rowId]="row.rowId"
                                        [style.visibility]="mg.getVisible(mgc.CESSId, row.rowId)">
                                        {{ mg.getDisplayValue(mgc.CESSId, row.rowId) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column54" [matColumnDef]="mgc.Column54">
                    <mat-header-cell *matHeaderCellDef>
                        CESS Amt
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.CESSAmt" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.CESSAmt, row.rowId)">
                                    {{mg.getValue(mgc.CESSAmt, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column55" [matColumnDef]="mgc.Column55">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Total Tax
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.TotalTax" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.TotalTax, row.rowId)">
                                    {{mg.getValue(mgc.TotalTax, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column56" [matColumnDef]="mgc.Column56">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Amt + Tax
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                <label [magic]="mgc.TotalWttax" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.TotalWttax, row.rowId)">
                                    {{mg.getValue(mgc.TotalWttax, row.rowId)
                                    }}
                                </label>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container [magic]="mgc.Column57" [matColumnDef]="mgc.Column57">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                        <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                            <button type="button" class="btn btn-tbl" [magic]="mgc.BtnDelete2" [rowId]="row.rowId"
                                [style.visibility]="mg.getVisible(mgc.BtnDelete2, row.rowId)">
                                <i area-hidden="true" class="icon-xl fas fa-trash text-danger"></i>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                    [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                    (click)="row? tableService.selectRow(row.rowId) : null">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                (page)="tableService.mgOnPaginateChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>