<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CMStates">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{mg.getCustomProperty('CMCountry','FormName')}}</h5>
                <button type="button" class="close" magic="{{mgc.Cancel}}">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">  
                            <div class="col-lg-12">                             
                               
                                <div class="form-group ">
                                    <label class="lable_overflow">
                                        Name
                                    </label>
                                    <div class="col-lg-12 row">
                                            <button type="button" *ngIf="mg.getVisible(mgc.Save)==='visible'"
                                            class="btn btn-primary mr-2" [magic]="mgc.btnCountry">
                                             ...
                                            </button>
                                                                                                                 
                                         <input class="form-control ng-untouched ng-pristine" [formControlName]="mgc.CountryName"
                                            [magic]="mgc.CountryName" mgFormat />
                                            <mgError [magic]=mgc.CountryName> </mgError>
                                           
                                                                                  
                                           
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="lable_overflow">
                                       State Name
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.StateName"
                                            [magic]="mgc.StateName" mgFormat />
                                        <mgError [magic]=mgc.StateName> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                       Short Name
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.ShortName"
                                            [magic]="mgc.ShortName" mgFormat />
                                        <mgError [magic]=mgc.ShortName> </mgError>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="lable_overflow">
                                       State Code
                                    </label>
                                    <div>
                                        <input class="form-control" [formControlName]="mgc.StateCode"
                                            [magic]="mgc.StateCode" mgFormat />
                                        <mgError [magic]=mgc.StateCode> </mgError>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label >
                                        Active
                                    </label>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" style="width:20px;height:38px;" id="Active"
                                            formControlName="{{mgc.Active}}" magic="{{mgc.Active}}"/>
                                    </div>
                                </div>
                          
                              
                            </div>
                    
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div style="margin: 1rem;">
                                <button type="button" *ngIf="mg.getVisible(mgc.Save)==='visible'"
                                    class="btn btn-primary mr-2" [magic]="mgc.Save">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CMStates"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.L1"
                class="lable_overflow"
            >
                Country Name 
            </label>
            <label [magic]="mgc.CountryName">
                {{mg.getValue(mgc.CountryName) }}
            </label>
            <button [magic]="mgc.btnCountry">
                ...
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.L2"
                class="lable_overflow"
            >
                Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.StateName"
                    [magic]="mgc.StateName"
                    mgFormat
                />
                <mgError [magic]=mgc.StateName> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.L3"
                class="lable_overflow"
            >
                Short Name
            </label>
            <div>
                <input
                    [formControlName]="mgc.ShortName"
                    [magic]="mgc.ShortName"
                    mgFormat
                />
                <mgError [magic]=mgc.ShortName> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.L4"
                class="lable_overflow"
            >
                State Code
            </label>
            <div>
                <input
                    [formControlName]="mgc.StateCode"
                    type='number'
                    [magic]="mgc.StateCode"
                    mgFormat
                />
                <mgError [magic]=mgc.StateCode> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.L5"
                class="lable_overflow"
                [attr.disabled]="mg.isDisabled(mgc.L5 )"
            >
                Active
            </label>
            <div>
                <input
                    type="checkbox"
                    id="Active"
                    [formControlName]="mgc.Active"
                    [magic]="mgc.Active"
                />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.Save"
                [style.visibility]="mg.getVisible(mgc.Save)"
                [title]="mg.getTitle(mgc.Save)"
            >
                &amp;Save
            </button>
            <button [magic]="mgc.Cancel">
                &amp;Cancel
            </button>
        </div>
    </div>
</div> -->