<div novalidate [formGroup]="screenFormGroup">
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <span class="svg-icon svg-icon-md svg-icon-danger mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <h5 class="text-dark font-weight-bold mt-5 mb-5 mr-5">Sales List</h5>
                <!--end::Page Title-->
                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200">
                </div>
                <span class="text-muted font-weight-bold mr-4"></span>

                <!--end::Actions-->
            </div>
        </div>
    </div>
    <div [magic]="mgc.SalesList"> </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <div class="input-icon">
                                    <input type="text" formControlName="{{mgc.vSearchText}}"
                                        magic="{{mgc.vSearchText}}" class="form-control form-control-lg"
                                        placeholder="Sales code,Customer,Reference No." mgFormat />
                                    <mgError magic={{mgc.vSearchText}}> </mgError>
                                    <span magic="{{mgc.Search}}">
                                        <i class="flaticon2-search-1 text-muted"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-6">
                                <input class="form-control" type="date" [formControlName]="mgc.vFromDate" [magic]="mgc.vFromDate" dateInput />
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-6">
                                <input class="form-control" type="date" [formControlName]="mgc.vToDate" [magic]="mgc.vToDate" dateInput />
                            </div>
                            <div class="form-group col-lg-4 col-md-2 col-sm-4 col-xs-6">
                                <button type="button" class="btn btn-secondary btn-sm mr-2" magic="{{mgc.Reset}}">
                                    Clear Filter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12 col-xxl-12">
                <div class="card card-custom">
                    <magic-subform magic="{{mgc.Detail}}">
                    </magic-subform>
                </div>
            </div>
        </div>
    </div>
</div>