<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Detail">
        <div class="row mt-2">
            <div class="col-lg-12 col-xxl-12">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-success btn-sm ml-2 mr-2" magic="{{mgc.New}}">
                        <i class="flaticon-app mr-2"></i>Add New
                    </button>
                    <button type="button" *ngIf="mg.getVisible(mgc.Export)==='visible'" class="btn btn-primary btn-sm ml-2 mr-2" magic="{{mgc.Export}}">
                        <i class="flaticon-app mr-2"></i>Export
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="m-tablewrapper pl-0 pr-0">
                <div class="example-container mat-elevation-z8 Table4TableContainerProps">
                    <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                        (matSortChange)="tableService.sortData($event)">
                        <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Sales Code
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.SalesCode" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.SalesCode, row.rowId)">
                                            {{mg.getValue(mgc.SalesCode, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column13" [matColumnDef]="mgc.Column13">
                            <mat-header-cell class="vanish-d" *matHeaderCellDef mat-sort-header>
                                Log Date
                            </mat-header-cell>
                            <mat-cell class="vanish-d" *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.LogDate" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.LogDate, row.rowId)">
                                            {{mg.getValue(mgc.LogDate, row.rowId)
                                            | magicDate : mgc.LogDate}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Customer Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.CustName" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.CustName, row.rowId)">
                                            {{mg.getValue(mgc.CustName, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                            <mat-header-cell class="vanish-d" *matHeaderCellDef mat-sort-header>
                                Reference No
                            </mat-header-cell>
                            <mat-cell class="vanish-d" *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.RefNo" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.RefNo, row.rowId)">
                                            {{mg.getValue(mgc.RefNo, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                            <mat-header-cell class="vanish-d" *matHeaderCellDef mat-sort-header>
                                Basic
                            </mat-header-cell>
                            <mat-cell class="vanish-d" *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.Basic" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Basic, row.rowId)">
                                            {{mg.getValue(mgc.Basic, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                            <mat-header-cell class="vanish-d" *matHeaderCellDef mat-sort-header>
                                Tax
                            </mat-header-cell>
                            <mat-cell class="vanish-d" *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.Tax" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Tax, row.rowId)">
                                            {{mg.getValue(mgc.Tax, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column10" [matColumnDef]="mgc.Column10">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Total
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <label [magic]="mgc.Total" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Total, row.rowId)">
                                            {{mg.getValue(mgc.Total, row.rowId) | currency:'INR'}}
                                        </label>
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <ng-container [magic]="mgc.Column31" [matColumnDef]="mgc.Column31">
                            <mat-header-cell *matHeaderCellDef>
                                Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.Edit" [rowId]="row.rowId">
                                        <i area-hidden="true" class="icon-xl far fa-edit text-success"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.View_Detail" [rowId]="row.rowId"
                                        [title]="mg.getTitle(mgc.View_Detail, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-eye text-warning"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.Print" [rowId]="row.rowId">
                                        <i area-hidden="true" class="icon-xl far fa-file-pdf text-danger"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <button class="btn btn-tbl" [magic]="mgc.Email" [rowId]="row.rowId"
                                        [title]="mg.getTitle(mgc.Email, row.rowId)">
                                        <i area-hidden="true" class="icon-xl far fa-envelope text-info"></i>
                                    </button>
                                </div>
                                <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                    <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                        <input type="checkbox" id="Active_{{row.rowId}}" [formControlName]="mgc.Active"
                                            [magic]="mgc.Active" [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.Active, row.rowId)" />
                                    </div>
                                </div>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                            [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                            (click)="row? tableService.selectRow(row.rowId) : null">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                        (page)="tableService.mgOnPaginateChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>