<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="{{mgc.HSNNoSelection}}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HSN/SAC No Selection</h5>
                <!-- <button type="button" class="close" magic="{{mgc.btnClose}}">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button> -->
            </div>
            <div class="modal-body mod">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-10 col-sm-6">
                                <div class="input-icon">
                                    <input type="text" formControlName="{{mgc.vSearchText}}" magic="{{mgc.vSearchText}}" 
                                    class="form-control" placeholder="Search by HSN/SAC No"
                                        mgFormat />
                                    <mgError magic={{mgc.vSearchText}}> </mgError>
                                    <span magic="{{mgc.Reset}}">
                                        <i class="flaticon2-cancel text-muted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <magic-subform magic="{{mgc.Detail}}">
                        </magic-subform>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>