<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.Detail">
        <div class="row col-lg-12">
            <div class="row col form-group">
                <button type="button" magic="{{mgc.Cancel}}" class="btn btn-secondary mr-2">Cancel</button>
                <button type="button" magic="{{mgc.Select}}" class="btn btn-primary font-weight-bold">Select</button>
                <button type="button" magic="{{mgc.New}}" class="btn btn-success font-weight-bold">New</button>
            </div>
        </div>
            <div class="example-container mat-elevation-z8 Table1048578TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column1048579" [matColumnDef]="mgc.Column1048579">
                        <mat-header-cell *matHeaderCellDef>
                            Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.TableRow" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.TableRow, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048580" [matColumnDef]="mgc.Column1048580">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Contact No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.MobileNo" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.MobileNo, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column1048581" [matColumnDef]="mgc.Column1048581">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            GST No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.GSTno" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.GSTno, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="5" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
</div>