<div novalidate [formGroup]="screenFormGroup">

    <div class="container-fluid" [magic]="mgc.UserCompanyRelation">
            <!-- <div [magic]="mgc.Group15" class="container_border" style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <label [magic]="mgc.Label3" class="lable_overflow">
                        {{mg.getText(mgc.Label3)}}
                    </label>
                </div>

            </div> -->
    <h5 class="detailhdr">Branch Selection</h5>            
            <div class="row">
                <div class="col-lg-12 col-xxl-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="h4"> {{mg.getText(mgc.Label3)}}</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Email-Id</label>
                                        <input type='text' class="form-control" formControlName="{{mgc.PersonalEmail}}"
                                            [magic]="mgc.PersonalEmail" mgFormat />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type='text' class="form-control" formControlName="{{mgc.MobileNumber}}"
                                            magic="{{mgc.MobileNumber}}" mgFormat />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type='text' class="form-control" formControlName="{{mgc.MobileNumber}}"
                                            magic="{{mgc.MobileNumber}}" mgFormat />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="container_border" style="display: flex; flex-direction: column">
                                        <div style="display: flex; flex-direction: row">
                                            <button  *ngIf="mg.getVisible(mgc.Create_company)==='visible'" [magic]="mgc.Create_company" class="btn btn-primary mb-5">
                                                Create Company
                                            </button>
                                            <button [magic]="mgc.Create_Branch" class="btn btn-primary mb-5">
                                                Create Branch
                                            </button>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <magic-subform [magic]="mgc.CompanyList">
                                    </magic-subform>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>