.btn-tbl{
    padding: 0.5rem 0.2rem;
}
mat-cell:first-child{
    flex: 0 0 35%;
    padding-left: 10px;
}
.mat-header-cell:first-child{
    flex: 0 0 35%;
    padding-left: 10px;
}
.mat-header-cell:nth-child(4){
  flex: 0 0 15%;
}
.mat-cell:nth-child(4){
  flex: 0 0 15%;
}
.mat-header-cell:nth-child(5){
  flex: 0 0 6%;
  justify-content: center;
}
.mat-cell:nth-child(5){
  flex: 0 0 6%;
  justify-content: center;
}
.mat-header-cell:nth-child(6){
  flex: 0 0 10%;
}
.mat-cell:nth-child(6){
  flex: 0 0 10%;
}
.mat-header-cell:nth-child(8){
    flex: 0 0 8%;
}
.mat-cell:nth-child(8){
    flex: 0 0 8%;
}



@media (max-width: 775.98px) 
{
.mat-header-cell:first-child{
  flex: 0 0 40%;
  padding-left: 5px;
}    
.mat-cell:first-child{
    flex: 0 0 40%;
    padding-left: 5px;
}
.mat-header-cell:nth-child(2){
    flex: 0 0 25%;
  }
  .mat-cell:nth-child(2){
    flex: 0 0 25%;
  }
.mat-header-cell:nth-child(5){
  flex: 0 0 15%;
  justify-content: center;
}
.mat-cell:nth-child(5){
  flex: 0 0 15%;
  justify-content: center;
}
.mat-header-cell:nth-child(8){
  flex: 0 0 20%;
}
.mat-cell:nth-child(8){
  flex: 0 0 20%;
}

  .btn-tbl{
    padding: 0.2rem 0.1rem;
}
}
